<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fintech.gams.ib.mapper.IbAccountPositionMapper">
    <!-- 基础列 -->
    <sql id="ibAccountPositionColumns">
        a.ID as id,
        a.ACCOUNT_ID as accountId,
        a.ACCOUNT_CODE as accountCode,
        a.SYMBOL as symbol,
        a.SEC_TYPE as secType,
        a.CURRENCY as currency,
        a.FINANCIAL_INSTRUMENT as financialInstrument,
        a.COMPANY_NAME as companyName,
        a.EXCHANGE as exchange,
        a.POSITION as position,
        a.UNSETTLED_POSITION as unsettledPosition,
        a.LOANABLE_QTY as loanableQty,
        a.PRIVATE_LOCATE as privateLocate,
        a.DELTA_DOLLARS as deltaDollars,
        a.MARKET_PRICE as marketPrice,
        a.MARKET_VALUE as marketValue,
        a.AVERAGE_COST as averageCost,
        a.UNREALIZED_PNL as unrealizedPnl,
        a.REALIZED_PNL as realizedPnl,
        a.LIQUIDATE_LAST as liquidateLast,
        a.REMARK as remark,
        a.CREATE_DATE as createDate,
        a.UPDATE_DATE as updateDate
    </sql>

    <resultMap id="ibAccountPositionResultMap" type="com.fintech.gams.ib.entity.IbAccountPosition">
        <id column="ID" property="id" />
        <result column="ACCOUNT_ID" property="accountId"/>
        <result column="ACCOUNT_CODE" property="accountCode"/>
        <result column="SYMBOL" property="symbol"/>
        <result column="SEC_TYPE" property="secType"/>
        <result column="CURRENCY" property="currency"/>
        <result column="FINANCIAL_INSTRUMENT" property="financialInstrument"/>
        <result column="COMPANY_NAME" property="companyName"/>
        <result column="EXCHANGE" property="exchange"/>
        <result column="POSITION" property="position"/>
        <result column="UNSETTLED_POSITION" property="unsettledPosition"/>
        <result column="LOANABLE_QTY" property="loanableQty"/>
        <result column="PRIVATE_LOCATE" property="privateLocate"/>
        <result column="DELTA_DOLLARS" property="deltaDollars"/>
        <result column="MARKET_PRICE" property="marketPrice"/>
        <result column="MARKET_VALUE" property="marketValue"/>
        <result column="AVERAGE_COST" property="averageCost"/>
        <result column="UNREALIZED_PNL" property="unrealizedPnl"/>
        <result column="REALIZED_PNL" property="realizedPnl"/>
        <result column="LIQUIDATE_LAST" property="liquidateLast"/>
        <result column="REMARK" property="remark"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="UPDATE_DATE" property="updateDate"/>
    </resultMap>

    <!-- 普通插入 -->
    <insert id="insert" parameterType="com.fintech.gams.ib.entity.IbAccountPosition">
        INSERT INTO IB_ACCOUNT_POSITION(
            ID ,
            ACCOUNT_ID ,
            ACCOUNT_CODE ,
            SYMBOL ,
            SEC_TYPE ,
            CURRENCY ,
            FINANCIAL_INSTRUMENT ,
            COMPANY_NAME ,
            EXCHANGE ,
            POSITION ,
            UNSETTLED_POSITION ,
            LOANABLE_QTY ,
            PRIVATE_LOCATE ,
            DELTA_DOLLARS ,
            MARKET_PRICE ,
            MARKET_VALUE ,
            AVERAGE_COST ,
            UNREALIZED_PNL ,
            REALIZED_PNL ,
            LIQUIDATE_LAST ,
            REMARK ,
            CREATE_DATE ,
            UPDATE_DATE 
        ) VALUES (
            #{id} ,
            #{accountId} ,
            #{accountCode} ,
            #{symbol} ,
            #{secType} ,
            #{currency} ,
            #{financialInstrument} ,
            #{companyName} ,
            #{exchange} ,
            #{position} ,
            #{unsettledPosition} ,
            #{loanableQty} ,
            #{privateLocate} ,
            #{deltaDollars} ,
            #{marketPrice} ,
            #{marketValue} ,
            #{averageCost} ,
            #{unrealizedPnl} ,
            #{realizedPnl} ,
            #{liquidateLast} ,
            #{remark} ,
            #{createDate} ,
            #{updateDate} 
        )
    </insert>
    <!-- 根据主键物理删除 -->
    <delete id="remove" parameterType="java.lang.Long">
        DELETE FROM IB_ACCOUNT_POSITION WHERE ID = #{id}
    </delete>

    <!-- 根据主键逻辑删除
    <update id="delete" parameterType="java.lang.Long">
        UPDATE IB_ACCOUNT_POSITION SET DEL_FLAG = 1 WHERE ID = #{id}
    </update>
    -->

    <!--根据条件是否插入数据 -->
    <insert id="insertSelective" parameterType="com.fintech.gams.ib.entity.IbAccountPosition">
        INSERT INTO IB_ACCOUNT_POSITION
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
                ID ,
        </if>
        <if test="accountId != null">
                ACCOUNT_ID ,
        </if>
        <if test="accountCode != null">
                ACCOUNT_CODE ,
        </if>
        <if test="symbol != null">
                SYMBOL ,
        </if>
        <if test="secType != null">
                SEC_TYPE ,
        </if>
        <if test="currency != null">
                CURRENCY ,
        </if>
        <if test="financialInstrument != null">
                FINANCIAL_INSTRUMENT ,
        </if>
        <if test="companyName != null">
                COMPANY_NAME ,
        </if>
        <if test="exchange != null">
                EXCHANGE ,
        </if>
        <if test="position != null">
                POSITION ,
        </if>
        <if test="unsettledPosition != null">
                UNSETTLED_POSITION ,
        </if>
        <if test="loanableQty != null">
                LOANABLE_QTY ,
        </if>
        <if test="privateLocate != null">
                PRIVATE_LOCATE ,
        </if>
        <if test="deltaDollars != null">
                DELTA_DOLLARS ,
        </if>
        <if test="marketPrice != null">
                MARKET_PRICE ,
        </if>
        <if test="marketValue != null">
                MARKET_VALUE ,
        </if>
        <if test="averageCost != null">
                AVERAGE_COST ,
        </if>
        <if test="unrealizedPnl != null">
                UNREALIZED_PNL ,
        </if>
        <if test="realizedPnl != null">
                REALIZED_PNL ,
        </if>
        <if test="liquidateLast != null">
                LIQUIDATE_LAST ,
        </if>
        <if test="remark != null">
                REMARK ,
        </if>
        <if test="createDate != null">
                CREATE_DATE ,
        </if>
        <if test="updateDate != null">
                UPDATE_DATE 
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
                #{id} ,
        </if>
        <if test="accountId != null">
                #{accountId} ,
        </if>
        <if test="accountCode != null">
                #{accountCode} ,
        </if>
        <if test="symbol != null">
                #{symbol} ,
        </if>
        <if test="secType != null">
                #{secType} ,
        </if>
        <if test="currency != null">
                #{currency} ,
        </if>
        <if test="financialInstrument != null">
                #{financialInstrument} ,
        </if>
        <if test="companyName != null">
                #{companyName} ,
        </if>
        <if test="exchange != null">
                #{exchange} ,
        </if>
        <if test="position != null">
                #{position} ,
        </if>
        <if test="unsettledPosition != null">
                #{unsettledPosition} ,
        </if>
        <if test="loanableQty != null">
                #{loanableQty} ,
        </if>
        <if test="privateLocate != null">
                #{privateLocate} ,
        </if>
        <if test="deltaDollars != null">
                #{deltaDollars} ,
        </if>
        <if test="marketPrice != null">
                #{marketPrice} ,
        </if>
        <if test="marketValue != null">
                #{marketValue} ,
        </if>
        <if test="averageCost != null">
                #{averageCost} ,
        </if>
        <if test="unrealizedPnl != null">
                #{unrealizedPnl} ,
        </if>
        <if test="realizedPnl != null">
                #{realizedPnl} ,
        </if>
        <if test="liquidateLast != null">
                #{liquidateLast} ,
        </if>
        <if test="remark != null">
                #{remark} ,
        </if>
        <if test="createDate != null">
                #{createDate} ,
        </if>
        <if test="updateDate != null">
                #{updateDate} 
        </if>
        </trim>
    </insert>

    <!-- 选择性更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.fintech.gams.ib.entity.IbAccountPosition">
        UPDATE IB_ACCOUNT_POSITION
           <set>
            <if test="accountId != null">
                ACCOUNT_ID = #{accountId} ,
            </if>
            <if test="accountCode != null">
                ACCOUNT_CODE = #{accountCode} ,
            </if>
            <if test="symbol != null">
                SYMBOL = #{symbol} ,
            </if>
            <if test="secType != null">
                SEC_TYPE = #{secType} ,
            </if>
            <if test="currency != null">
                CURRENCY = #{currency} ,
            </if>
            <if test="financialInstrument != null">
                FINANCIAL_INSTRUMENT = #{financialInstrument} ,
            </if>
            <if test="companyName != null">
                COMPANY_NAME = #{companyName} ,
            </if>
            <if test="exchange != null">
                EXCHANGE = #{exchange} ,
            </if>
            <if test="position != null">
                POSITION = #{position} ,
            </if>
            <if test="unsettledPosition != null">
                UNSETTLED_POSITION = #{unsettledPosition} ,
            </if>
            <if test="loanableQty != null">
                LOANABLE_QTY = #{loanableQty} ,
            </if>
            <if test="privateLocate != null">
                PRIVATE_LOCATE = #{privateLocate} ,
            </if>
            <if test="deltaDollars != null">
                DELTA_DOLLARS = #{deltaDollars} ,
            </if>
            <if test="marketPrice != null">
                MARKET_PRICE = #{marketPrice} ,
            </if>
            <if test="marketValue != null">
                MARKET_VALUE = #{marketValue} ,
            </if>
            <if test="averageCost != null">
                AVERAGE_COST = #{averageCost} ,
            </if>
            <if test="unrealizedPnl != null">
                UNREALIZED_PNL = #{unrealizedPnl} ,
            </if>
            <if test="realizedPnl != null">
                REALIZED_PNL = #{realizedPnl} ,
            </if>
            <if test="liquidateLast != null">
                LIQUIDATE_LAST = #{liquidateLast} ,
            </if>
            <if test="remark != null">
                REMARK = #{remark} ,
            </if>
            <if test="createDate != null">
                CREATE_DATE = #{createDate} ,
            </if>
            <if test="updateDate != null">
                UPDATE_DATE = #{updateDate} 
            </if>
           </set>
        WHERE ID = #{id}
    </update>

    <!-- 批量插入 -->
    <insert id="insertBatch" parameterType="list">
        INSERT INTO IB_ACCOUNT_POSITION(
            ID ,
            ACCOUNT_ID ,
            ACCOUNT_CODE ,
            SYMBOL ,
            SEC_TYPE ,
            CURRENCY ,
            FINANCIAL_INSTRUMENT ,
            COMPANY_NAME ,
            EXCHANGE ,
            POSITION ,
            UNSETTLED_POSITION ,
            LOANABLE_QTY ,
            PRIVATE_LOCATE ,
            DELTA_DOLLARS ,
            MARKET_PRICE ,
            MARKET_VALUE ,
            AVERAGE_COST ,
            UNREALIZED_PNL ,
            REALIZED_PNL ,
            LIQUIDATE_LAST ,
            REMARK ,
            CREATE_DATE ,
            UPDATE_DATE 
        )
        <foreach close=")" collection="list" item="item" index="index" open="(" separator="union">
            SELECT
            #{item.id} ,
            #{item.accountId} ,
            #{item.accountCode} ,
            #{item.symbol} ,
            #{item.secType} ,
            #{item.currency} ,
            #{item.financialInstrument} ,
            #{item.companyName} ,
            #{item.exchange} ,
            #{item.position} ,
            #{item.unsettledPosition} ,
            #{item.loanableQty} ,
            #{item.privateLocate} ,
            #{item.deltaDollars} ,
            #{item.marketPrice} ,
            #{item.marketValue} ,
            #{item.averageCost} ,
            #{item.unrealizedPnl} ,
            #{item.realizedPnl} ,
            #{item.liquidateLast} ,
            #{item.remark} ,
            #{item.createDate} ,
            #{item.updateDate} 
            FROM DUAL
        </foreach>
    </insert>

    <!-- 批量修改 -->
    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            UPDATE IB_ACCOUNT_POSITION SET
            ACCOUNT_ID = #{item.accountId} ,
            ACCOUNT_CODE = #{item.accountCode} ,
            SYMBOL = #{item.symbol} ,
            SEC_TYPE = #{item.secType} ,
            CURRENCY = #{item.currency} ,
            FINANCIAL_INSTRUMENT = #{item.financialInstrument} ,
            COMPANY_NAME = #{item.companyName} ,
            EXCHANGE = #{item.exchange} ,
            POSITION = #{item.position} ,
            UNSETTLED_POSITION = #{item.unsettledPosition} ,
            LOANABLE_QTY = #{item.loanableQty} ,
            PRIVATE_LOCATE = #{item.privateLocate} ,
            DELTA_DOLLARS = #{item.deltaDollars} ,
            MARKET_PRICE = #{item.marketPrice} ,
            MARKET_VALUE = #{item.marketValue} ,
            AVERAGE_COST = #{item.averageCost} ,
            UNREALIZED_PNL = #{item.unrealizedPnl} ,
            REALIZED_PNL = #{item.realizedPnl} ,
            LIQUIDATE_LAST = #{item.liquidateLast} ,
            REMARK = #{item.remark} ,
            CREATE_DATE = #{item.createDate} ,
            UPDATE_DATE = #{item.updateDate} 
            WHERE ID = #{item.id}
        </foreach>
    </update>

    <!-- 根据主键更新一条信息所有数据 -->
    <update id="updateByPrimaryKey" parameterType="com.fintech.gams.ib.entity.IbAccountPosition">
        UPDATE IB_ACCOUNT_POSITION SET
            ACCOUNT_ID = #{accountId} ,
            ACCOUNT_CODE = #{accountCode} ,
            SYMBOL = #{symbol} ,
            SEC_TYPE = #{secType} ,
            CURRENCY = #{currency} ,
            FINANCIAL_INSTRUMENT = #{financialInstrument} ,
            COMPANY_NAME = #{companyName} ,
            EXCHANGE = #{exchange} ,
            POSITION = #{position} ,
            UNSETTLED_POSITION = #{unsettledPosition} ,
            LOANABLE_QTY = #{loanableQty} ,
            PRIVATE_LOCATE = #{privateLocate} ,
            DELTA_DOLLARS = #{deltaDollars} ,
            MARKET_PRICE = #{marketPrice} ,
            MARKET_VALUE = #{marketValue} ,
            AVERAGE_COST = #{averageCost} ,
            UNREALIZED_PNL = #{unrealizedPnl} ,
            REALIZED_PNL = #{realizedPnl} ,
            LIQUIDATE_LAST = #{liquidateLast} ,
            REMARK = #{remark} ,
            CREATE_DATE = #{createDate} ,
            UPDATE_DATE = #{updateDate} 
        WHERE ID = #{id}
    </update>

    <!-- 根据主键取数据 -->
    <select id="selectByPrimaryKey"  parameterType="java.lang.Long" resultType="com.fintech.gams.ib.entity.IbAccountPosition">
        SELECT <include refid="ibAccountPositionColumns"/> FROM IB_ACCOUNT_POSITION a WHERE a.ID = #{id}
    </select>

    <!-- 可分页的对象查询 -->
    <select id="findList" resultType="com.fintech.gams.ib.entity.IbAccountPosition">
        SELECT <include refid="ibAccountPositionColumns"/>, b.ACCOUNT_NAME as accountName
        FROM IB_ACCOUNT_POSITION a
        LEFT JOIN ACCOUNT b ON a.ACCOUNT_ID = b.ID
        WHERE 1 = 1
        <if test="accountId != null">
            AND a.ACCOUNT_ID = #{accountId}
        </if>
        <if test="accountCode != null">
            AND a.ACCOUNT_CODE LIKE '%'||#{accountCode}||'%'
        </if>
        <if test="symbol != null">
            AND a.SYMBOL LIKE '%'||#{symbol}||'%'
        </if>
        <if test="secType != null">
            AND a.SEC_TYPE LIKE '%'||#{secType}||'%'
        </if>
        <if test="currency != null">
            AND a.CURRENCY LIKE '%'||#{currency}||'%'
        </if>
        <if test="financialInstrument != null">
            AND a.FINANCIAL_INSTRUMENT LIKE '%'||#{financialInstrument}||'%'
        </if>
        <if test="companyName != null">
            AND a.COMPANY_NAME LIKE '%'||#{companyName}||'%'
        </if>
        <if test="exchange != null">
            AND a.EXCHANGE LIKE '%'||#{exchange}||'%'
        </if>
        <if test="position != null">
            AND a.POSITION = #{position}
        </if>
        <if test="unsettledPosition != null">
            AND a.UNSETTLED_POSITION = #{unsettledPosition}
        </if>
        <if test="loanableQty != null">
            AND a.LOANABLE_QTY = #{loanableQty}
        </if>
        <if test="privateLocate != null">
            AND a.PRIVATE_LOCATE = #{privateLocate}
        </if>
        <if test="deltaDollars != null">
            AND a.DELTA_DOLLARS = #{deltaDollars}
        </if>
        <if test="marketPrice != null">
            AND a.MARKET_PRICE = #{marketPrice}
        </if>
        <if test="marketValue != null">
            AND a.MARKET_VALUE = #{marketValue}
        </if>
        <if test="averageCost != null">
            AND a.AVERAGE_COST = #{averageCost}
        </if>
        <if test="unrealizedPnl != null">
            AND a.UNREALIZED_PNL = #{unrealizedPnl}
        </if>
        <if test="realizedPnl != null">
            AND a.REALIZED_PNL = #{realizedPnl}
        </if>
        <if test="liquidateLast != null">
            AND a.LIQUIDATE_LAST LIKE '%'||#{liquidateLast}||'%'
        </if>
        <if test="remark != null">
            AND a.REMARK LIKE '%'||#{remark}||'%'
        </if>
        <if test="createDate != null">
            AND a.CREATE_DATE = #{createDate}
        </if>
        <if test="updateDate != null">
            AND a.UPDATE_DATE = #{updateDate}
        </if>
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.fintech.gams.ib.entity.IbAccountPosition">
        SELECT
        <include refid="ibAccountPositionColumns"/>
        FROM IB_ACCOUNT_POSITION a <!--WHERE a.DEL_FLAG = 0-->
    </select>


</mapper>

