<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fintech.gams.asset.mapper.AssetWithdrawMapper">
    <!-- 基础列 -->
    <sql id="assetWithdrawColumns">
        a.ID as id,
        a.ACCOUNT_ID as accountId,
        a.CURRENCY as currency,
        a.BENE_BANK as beneBank,
        a.ACCOUNT_NUMBER as accountNumber,
        a.AMOUNT as amount,
        a.FEE as fee,
        a.transfer_type as transferType,
        a.SWIFT_CODE as swiftCode,
        a.TRANSACTION_ID as transactionId,
        a.STATUS as status,
        a.WITHDRAW_DATE as withdrawDate,
        a.WITHDRAW_CONFIRM_DATE as withdrawConfirmDate,
        a.REMARK as remark,
        a.UPDATE_BY as updateBy,
        a.UPDATE_DATE as updateDate
    </sql>

    <resultMap id="assetWithdrawResultMap" type="com.fintech.gams.asset.entity.AssetWithdraw">
        <id column="ID" property="id" />
        <result column="ACCOUNT_ID" property="accountId"/>
        <result column="CURRENCY" property="currency"/>
        <result column="BENE_BANK" property="beneBank"/>
        <result column="ACCOUNT_NUMBER" property="accountNumber"/>
        <result column="AMOUNT" property="amount"/>
        <result column="FEE" property="fee"/>
        <result column="transfer_type" property="transferType"/>
        <result column="SWIFT_CODE" property="swiftCode"/>
        <result column="TRANSACTION_ID" property="transactionId"/>
        <result column="STATUS" property="status"/>
        <result column="WITHDRAW_DATE" property="withdrawDate"/>
        <result column="WITHDRAW_CONFIRM_DATE" property="withdrawConfirmDate"/>
        <result column="REMARK" property="remark"/>
        <result column="UPDATE_BY" property="updateBy"/>
        <result column="UPDATE_DATE" property="updateDate"/>
    </resultMap>

    <!-- 普通插入 -->
    <insert id="insert" parameterType="com.fintech.gams.asset.entity.AssetWithdraw">
        INSERT INTO ASSET_WITHDRAW(
            ID ,
            ACCOUNT_ID ,
            CURRENCY ,
            BENE_BANK ,
            ACCOUNT_NUMBER ,
            AMOUNT ,
            FEE ,
            transfer_type ,
            SWIFT_CODE ,
            TRANSACTION_ID ,
            STATUS ,
            WITHDRAW_DATE ,
            WITHDRAW_CONFIRM_DATE ,
            REMARK ,
            UPDATE_BY ,
            UPDATE_DATE 
        ) VALUES (
            #{id} ,
            #{accountId} ,
            #{currency} ,
            #{beneBank} ,
            #{accountNumber} ,
            #{amount} ,
            #{fee} ,
            #{transferType} ,
            #{swiftCode} ,
            #{transactionId} ,
            #{status} ,
            #{withdrawDate} ,
            #{withdrawConfirmDate} ,
            #{remark} ,
            #{updateBy} ,
            #{updateDate} 
        )
    </insert>
    <!-- 根据主键物理删除 -->
    <delete id="remove" parameterType="java.lang.Long">
        DELETE FROM ASSET_WITHDRAW WHERE ID = #{id}
    </delete>

    <!-- 根据主键逻辑删除
    <update id="delete" parameterType="java.lang.Long">
        UPDATE ASSET_WITHDRAW SET DEL_FLAG = 1 WHERE ID = #{id}
    </update>
    -->

    <!--根据条件是否插入数据 -->
    <insert id="insertSelective" parameterType="com.fintech.gams.asset.entity.AssetWithdraw">
        INSERT INTO ASSET_WITHDRAW
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
                ID ,
        </if>
        <if test="accountId != null">
                ACCOUNT_ID ,
        </if>
        <if test="currency != null">
                CURRENCY ,
        </if>
        <if test="beneBank != null">
                BENE_BANK ,
        </if>
        <if test="accountNumber != null">
                ACCOUNT_NUMBER ,
        </if>
        <if test="amount != null">
                AMOUNT ,
        </if>
        <if test="fee != null">
                FEE ,
        </if>
        <if test="transferType != null">
            transfer_type ,
        </if>
        <if test="swiftCode != null">
                SWIFT_CODE ,
        </if>
        <if test="transactionId != null">
                TRANSACTION_ID ,
        </if>
        <if test="status != null">
                STATUS ,
        </if>
        <if test="withdrawDate != null">
                WITHDRAW_DATE ,
        </if>
        <if test="withdrawConfirmDate != null">
                WITHDRAW_CONFIRM_DATE ,
        </if>
        <if test="remark != null">
                REMARK ,
        </if>
        <if test="updateBy != null">
                UPDATE_BY ,
        </if>
        <if test="updateDate != null">
                UPDATE_DATE 
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
                #{id} ,
        </if>
        <if test="accountId != null">
                #{accountId} ,
        </if>
        <if test="currency != null">
                #{currency} ,
        </if>
        <if test="beneBank != null">
                #{beneBank} ,
        </if>
        <if test="accountNumber != null">
                #{accountNumber} ,
        </if>
        <if test="amount != null">
                #{amount} ,
        </if>
        <if test="fee != null">
                #{fee} ,
        </if>
        <if test="transferType != null">
            #{transferType} ,
        </if>
        <if test="swiftCode != null">
                #{swiftCode} ,
        </if>
        <if test="transactionId != null">
                #{transactionId} ,
        </if>
        <if test="status != null">
                #{status} ,
        </if>
        <if test="withdrawDate != null">
                #{withdrawDate} ,
        </if>
        <if test="withdrawConfirmDate != null">
                #{withdrawConfirmDate} ,
        </if>
        <if test="remark != null">
                #{remark} ,
        </if>
        <if test="updateBy != null">
                #{updateBy} ,
        </if>
        <if test="updateDate != null">
                #{updateDate} 
        </if>
        </trim>
    </insert>

    <!-- 选择性更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.fintech.gams.asset.entity.AssetWithdraw">
        UPDATE ASSET_WITHDRAW
           <set>
            <if test="accountId != null">
                ACCOUNT_ID = #{accountId} ,
            </if>
            <if test="currency != null">
                CURRENCY = #{currency} ,
            </if>
            <if test="beneBank != null">
                BENE_BANK = #{beneBank} ,
            </if>
            <if test="accountNumber != null">
                ACCOUNT_NUMBER = #{accountNumber} ,
            </if>
            <if test="amount != null">
                AMOUNT = #{amount} ,
            </if>
            <if test="fee != null">
                FEE = #{fee} ,
            </if>
            <if test="transferType != null">
                transfer_type = #{transferType} ,
            </if>
            <if test="swiftCode != null">
                SWIFT_CODE = #{swiftCode} ,
            </if>
            <if test="transactionId != null">
                TRANSACTION_ID = #{transactionId} ,
            </if>
            <if test="status != null">
                STATUS = #{status} ,
            </if>
            <if test="withdrawDate != null">
                WITHDRAW_DATE = #{withdrawDate} ,
            </if>
            <if test="withdrawConfirmDate != null">
                WITHDRAW_CONFIRM_DATE = #{withdrawConfirmDate} ,
            </if>
            <if test="remark != null">
                REMARK = #{remark} ,
            </if>
            <if test="updateBy != null">
                UPDATE_BY = #{updateBy} ,
            </if>
            <if test="updateDate != null">
                UPDATE_DATE = #{updateDate} 
            </if>
           </set>
        WHERE ID = #{id}
    </update>

    <!-- 批量插入 -->
    <insert id="insertBatch" parameterType="list">
        INSERT INTO ASSET_WITHDRAW(
            ID ,
            ACCOUNT_ID ,
            CURRENCY ,
            BENE_BANK ,
            ACCOUNT_NUMBER ,
            AMOUNT ,
            FEE ,
            transfer_type ,
            SWIFT_CODE ,
            TRANSACTION_ID ,
            STATUS ,
            WITHDRAW_DATE ,
            WITHDRAW_CONFIRM_DATE ,
            REMARK ,
            UPDATE_BY ,
            UPDATE_DATE 
        )
        <foreach close=")" collection="list" item="item" index="index" open="(" separator="union">
            SELECT
            #{item.id} ,
            #{item.accountId} ,
            #{item.currency} ,
            #{item.beneBank} ,
            #{item.accountNumber} ,
            #{item.amount} ,
            #{item.fee} ,
            #{item.transferType} ,
            #{item.swiftCode} ,
            #{item.transactionId} ,
            #{item.status} ,
            #{item.withdrawDate} ,
            #{item.withdrawConfirmDate} ,
            #{item.remark} ,
            #{item.updateBy} ,
            #{item.updateDate} 
            FROM DUAL
        </foreach>
    </insert>

    <!-- 批量修改 -->
    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            UPDATE ASSET_WITHDRAW SET
            ACCOUNT_ID = #{item.accountId} ,
            CURRENCY = #{item.currency} ,
            BENE_BANK = #{item.beneBank} ,
            ACCOUNT_NUMBER = #{item.accountNumber} ,
            AMOUNT = #{item.amount} ,
            FEE = #{item.fee} ,
            transfer_type = #{item.transferType} ,
            SWIFT_CODE = #{item.swiftCode} ,
            TRANSACTION_ID = #{item.transactionId} ,
            STATUS = #{item.status} ,
            WITHDRAW_DATE = #{item.withdrawDate} ,
            WITHDRAW_CONFIRM_DATE = #{item.withdrawConfirmDate} ,
            REMARK = #{item.remark} ,
            UPDATE_BY = #{item.updateBy} ,
            UPDATE_DATE = #{item.updateDate} 
            WHERE ID = #{item.id}
        </foreach>
    </update>

    <!-- 根据主键更新一条信息所有数据 -->
    <update id="updateByPrimaryKey" parameterType="com.fintech.gams.asset.entity.AssetWithdraw">
        UPDATE ASSET_WITHDRAW SET
            ACCOUNT_ID = #{accountId} ,
            CURRENCY = #{currency} ,
            BENE_BANK = #{beneBank} ,
            ACCOUNT_NUMBER = #{accountNumber} ,
            AMOUNT = #{amount} ,
            FEE = #{fee} ,
            transfer_type = #{transferType} ,
            SWIFT_CODE = #{swiftCode} ,
            TRANSACTION_ID = #{transactionId} ,
            STATUS = #{status} ,
            WITHDRAW_DATE = #{withdrawDate} ,
            WITHDRAW_CONFIRM_DATE = #{withdrawConfirmDate} ,
            REMARK = #{remark} ,
            UPDATE_BY = #{updateBy} ,
            UPDATE_DATE = #{updateDate} 
        WHERE ID = #{id}
    </update>

    <!-- 根据主键取数据 -->
    <select id="selectByPrimaryKey"  parameterType="java.lang.Long" resultType="com.fintech.gams.asset.entity.AssetWithdraw">
        SELECT <include refid="assetWithdrawColumns"/> FROM ASSET_WITHDRAW a WHERE a.ID = #{id}
    </select>

    <!-- 可分页的对象查询 -->
    <select id="findList" resultType="com.fintech.gams.asset.entity.AssetWithdraw">
        SELECT
        <include refid="assetWithdrawColumns"/>, b.ACCOUNT_NAME as accountName
        FROM ASSET_WITHDRAW a
        LEFT JOIN ACCOUNT b ON a.ACCOUNT_ID = b.ID
        WHERE 1 = 1<!-- and a.DEL_FLAG = 0-->
        <if test="accountId != null">
            AND a.ACCOUNT_ID = #{accountId}
        </if>
        <if test="currency != null">
            AND a.CURRENCY LIKE '%'||#{currency}||'%'
        </if>
        <if test="beneBank != null">
            AND a.BENE_BANK LIKE '%'||#{beneBank}||'%'
        </if>
        <if test="accountNumber != null">
            AND a.ACCOUNT_NUMBER LIKE '%'||#{accountNumber}||'%'
        </if>
        <if test="amount != null">
            AND a.AMOUNT = #{amount}
        </if>
        <if test="fee != null">
            AND a.FEE = #{fee}
        </if>
        <if test="transferType != null">
            AND a.transfer_type = #{transferType}
        </if>
        <if test="swiftCode != null">
            AND a.SWIFT_CODE LIKE '%'||#{swiftCode}||'%'
        </if>
        <if test="transactionId != null">
            AND a.TRANSACTION_ID LIKE '%'||#{transactionId}||'%'
        </if>
        <if test="status != null">
            AND a.STATUS LIKE '%'||#{status}||'%'
        </if>
        <if test="updateBy != null">
            AND a.UPDATE_BY = #{updateBy}
        </if>
        <!-- 日期查询 -->
        <if test="dateField != null">
            <if test="dateField =='withdrawDate'">
                AND a.WITHDRAW_DATE between #{startDate} and #{endDate}
            </if>
            <if test="dateField == 'withdrawConfirmDate'">
                AND a.WITHDRAW_CONFIRM_DATE  between #{startDate} and #{endDate}
            </if>
            <if test="dateField == 'updateDate'">
                AND a.UPDATE_DATE between #{startDate} and #{endDate}
            </if>
        </if>
        ORDER BY a.WITHDRAW_DATE DESC
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.fintech.gams.asset.entity.AssetWithdraw">
        SELECT
        <include refid="assetWithdrawColumns"/>
        FROM ASSET_WITHDRAW a <!--WHERE a.DEL_FLAG = 0-->
    </select>

</mapper>

