<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fintech.gams.system.mapper.OrganizeMapper">
    <!-- 基础列 -->
    <sql id="organizeColumns">
        a.ID as id,
        a.PARENT_ID as parentId,
        a.PATH_INFO as pathInfo,
        a.ORG_CODE as orgCode,
        a.ORG_NAME as orgName,
        a.ORG_DEST as orgDest,
        a.CREATE_BY as createBy,
        a.CREATE_DATE as createDate,
        a.UPDATE_BY as updateBy,
        a.UPDATE_DATE as updateDate,
        a.SORT_NUM as sortNum,
        a.DEL_FLAG as delFlag
    </sql>

    <sql id="organizeJoinColumns">
        a.ID as id,
        a.PARENT_ID as parentId,
        a.PATH_INFO as pathInfo,
        a.ORG_CODE as orgCode,
        a.ORG_NAME as orgName,
        a.ORG_DEST as orgDest,
        a.CREATE_BY as createBy,
        b.USER_NAME as createByName,
        a.CREATE_DATE as createDate,
        a.UPDATE_BY as updateBy,
        c.USER_NAME as updateByName,
        a.UPDATE_DATE as updateDate,
        a.SORT_NUM as sortNum,
        a.DEL_FLAG as delFlag
    </sql>

    <resultMap id="organizeResultMap" type="com.fintech.gams.system.entity.Organize">
        <id column="ID" property="id" />
        <result column="PARENT_ID" property="parentId"/>
        <result column="PATH_INFO" property="pathInfo"/>
        <result column="ORG_CODE" property="orgCode"/>
        <result column="ORG_NAME" property="orgName"/>
        <result column="ORG_DEST" property="orgDest"/>
        <result column="CREATE_BY" property="createBy"/>
        <result column="CREATE_DATE" property="createDate"/>
        <result column="UPDATE_BY" property="updateBy"/>
        <result column="UPDATE_DATE" property="updateDate"/>
        <result column="SORT_NUM" property="sortNum"/>
        <result column="DEL_FLAG" property="delFlag"/>
    </resultMap>

    <!-- 普通插入 -->
    <insert id="insert" parameterType="com.fintech.gams.system.entity.Organize">
        INSERT INTO ORGANIZE(
            ID ,
            PARENT_ID ,
            PATH_INFO ,
            ORG_CODE ,
            ORG_NAME ,
            ORG_DEST ,
            CREATE_BY ,
            CREATE_DATE ,
            UPDATE_BY ,
            UPDATE_DATE ,
            SORT_NUM ,
            DEL_FLAG 
        ) VALUES (
            #{id} ,
            #{parentId} ,
            #{pathInfo} ,
            #{orgCode} ,
            #{orgName} ,
            #{orgDest} ,
            #{createBy} ,
            #{createDate} ,
            #{updateBy} ,
            #{updateDate} ,
            #{sortNum} ,
            #{delFlag} 
        )
    </insert>
    <!-- 根据主键物理删除 -->
    <delete id="remove" parameterType="java.lang.Long">
        DELETE FROM ORGANIZE WHERE ID = #{id}
    </delete>

    <!-- 根据主键逻辑删除 -->
    <update id="delete" parameterType="java.lang.Long">
        UPDATE ORGANIZE SET DEL_FLAG = 1 WHERE ID = #{id}
    </update>

    <!--根据条件是否插入数据 -->
    <insert id="insertSelective" parameterType="com.fintech.gams.system.entity.Organize">
        INSERT INTO ORGANIZE
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
                ID ,
        </if>
        <if test="parentId != null">
                PARENT_ID ,
        </if>
        <if test="pathInfo != null">
                PATH_INFO ,
        </if>
        <if test="orgCode != null">
                ORG_CODE ,
        </if>
        <if test="orgName != null">
                ORG_NAME ,
        </if>
        <if test="orgDest != null">
                ORG_DEST ,
        </if>
        <if test="createBy != null">
                CREATE_BY ,
        </if>
        <if test="createDate != null">
                CREATE_DATE ,
        </if>
        <if test="updateBy != null">
                UPDATE_BY ,
        </if>
        <if test="updateDate != null">
                UPDATE_DATE ,
        </if>
        <if test="sortNum != null">
                SORT_NUM ,
        </if>
        <if test="delFlag != null">
                DEL_FLAG 
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
                #{id} ,
        </if>
        <if test="parentId != null">
                #{parentId} ,
        </if>
        <if test="pathInfo != null">
                #{pathInfo} ,
        </if>
        <if test="orgCode != null">
                #{orgCode} ,
        </if>
        <if test="orgName != null">
                #{orgName} ,
        </if>
        <if test="orgDest != null">
                #{orgDest} ,
        </if>
        <if test="createBy != null">
                #{createBy} ,
        </if>
        <if test="createDate != null">
                #{createDate} ,
        </if>
        <if test="updateBy != null">
                #{updateBy} ,
        </if>
        <if test="updateDate != null">
                #{updateDate} ,
        </if>
        <if test="sortNum != null">
                #{sortNum} ,
        </if>
        <if test="delFlag != null">
                #{delFlag} 
        </if>
        </trim>
    </insert>

    <!-- 选择性更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.fintech.gams.system.entity.Organize">
        UPDATE ORGANIZE
           <set>
            <if test="parentId != null">
                PARENT_ID = #{parentId} ,
            </if>
            <if test="pathInfo != null">
                PATH_INFO = #{pathInfo} ,
            </if>
            <if test="orgCode != null">
                ORG_CODE = #{orgCode} ,
            </if>
            <if test="orgName != null">
                ORG_NAME = #{orgName} ,
            </if>
            <if test="orgDest != null">
                ORG_DEST = #{orgDest} ,
            </if>
            <if test="createBy != null">
                CREATE_BY = #{createBy} ,
            </if>
            <if test="createDate != null">
                CREATE_DATE = #{createDate} ,
            </if>
            <if test="updateBy != null">
                UPDATE_BY = #{updateBy} ,
            </if>
            <if test="updateDate != null">
                UPDATE_DATE = #{updateDate} ,
            </if>
            <if test="sortNum != null">
                SORT_NUM = #{sortNum} ,
            </if>
            <if test="delFlag != null">
                DEL_FLAG = #{delFlag} 
            </if>
           </set>
        WHERE ID = #{id}
    </update>

    <!-- 批量插入 -->
    <insert id="insertBatch" parameterType="list">
        INSERT INTO ORGANIZE(
            ID ,
            PARENT_ID ,
            PATH_INFO ,
            ORG_CODE ,
            ORG_NAME ,
            ORG_DEST ,
            CREATE_BY ,
            CREATE_DATE ,
            UPDATE_BY ,
            UPDATE_DATE ,
            SORT_NUM ,
            DEL_FLAG 
        )
        <foreach close=")" collection="list" item="item" index="index" open="(" separator="union">
            SELECT
            #{item.id} ,
            #{item.parentId} ,
            #{item.pathInfo} ,
            #{item.orgCode} ,
            #{item.orgName} ,
            #{item.orgDest} ,
            #{item.createBy} ,
            #{item.createDate} ,
            #{item.updateBy} ,
            #{item.updateDate} ,
            #{item.sortNum} ,
            #{item.delFlag} 
            FROM DUAL
        </foreach>
    </insert>

    <!-- 批量修改 -->
    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            UPDATE ORGANIZE SET
            PARENT_ID = #{item.parentId} ,
            PATH_INFO = #{item.pathInfo} ,
            ORG_CODE = #{item.orgCode} ,
            ORG_NAME = #{item.orgName} ,
            ORG_DEST = #{item.orgDest} ,
            CREATE_BY = #{item.createBy} ,
            CREATE_DATE = #{item.createDate} ,
            UPDATE_BY = #{item.updateBy} ,
            UPDATE_DATE = #{item.updateDate} ,
            SORT_NUM = #{item.sortNum} ,
            DEL_FLAG = #{item.delFlag} 
            WHERE ID = #{item.id}
        </foreach>
    </update>

    <!-- 根据主键更新一条信息所有数据 -->
    <update id="updateByPrimaryKey" parameterType="com.fintech.gams.system.entity.Organize">
        UPDATE ORGANIZE SET
            PARENT_ID = #{parentId} ,
            PATH_INFO = #{pathInfo} ,
            ORG_CODE = #{orgCode} ,
            ORG_NAME = #{orgName} ,
            ORG_DEST = #{orgDest} ,
            CREATE_BY = #{createBy} ,
            CREATE_DATE = #{createDate} ,
            UPDATE_BY = #{updateBy} ,
            UPDATE_DATE = #{updateDate} ,
            SORT_NUM = #{sortNum} ,
            DEL_FLAG = #{delFlag} 
        WHERE ID = #{id}
    </update>

    <!-- 根据主键取数据 -->
    <select id="selectByPrimaryKey"  parameterType="java.lang.Long" resultType="com.fintech.gams.system.entity.Organize">
        SELECT <include refid="organizeColumns"/> FROM ORGANIZE a WHERE a.ID = #{id}
    </select>

    <!-- 可分页的对象查询 -->
    <select id="findList" resultType="com.fintech.gams.system.entity.Organize">
        SELECT
        <include refid="organizeJoinColumns"/>
        FROM ORGANIZE a
          LEFT JOIN USER_INFO b on a.CREATE_BY = b.ID
          LEFT JOIN USER_INFO c on a.UPDATE_BY = c.ID
        WHERE a.DEL_FLAG = 0
        <if test="parentId != null">
            AND a.PARENT_ID = #{parentId}
        </if>
        <if test="orgCode != null">
            AND a.ORG_CODE LIKE '%'||#{orgCode}||'%'
        </if>
        <if test="orgName != null">
            AND a.ORG_NAME LIKE '%'||#{orgName}||'%'
        </if>
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.fintech.gams.system.entity.Organize">
        SELECT
          <include refid="organizeColumns"/>
        FROM ORGANIZE a WHERE a.DEL_FLAG = 0
    </select>

    <select id="findByUserId" resultType="com.fintech.gams.system.entity.Organize">
        SELECT
          <include refid="organizeColumns"/>
        FROM ORGANIZE a,USER_DATA b
        WHERE a.ID = b.ORG_ID
          AND b.USER_ID = #{userId}
          AND  a.DEL_FLAG = 0
    </select>

</mapper>

