<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fintech.gams.account.mapper.AccountPerAssetMapper">
    <!-- 基础列 -->
    <sql id="accountPerAssetColumns">
        a.ID as id,
        a.ACCOUNT_ID as accountId,
        a.ANUAL_NET_INCOME as anualNetIncome,
        a.NET_ASSET_VALUE as netAssetValue,
        a.NET_CURRENT_ASSETS as netCurrentAssets,
        a.CREATED_BY as createdBy,
        a.CREATED_DATE as createdDate,
        a.UPDATED_BY as updatedBy,
        a.UPDATED_DATE as updatedDate
    </sql>

    <resultMap id="accountPerAssetResultMap" type="com.fintech.gams.account.entity.AccountPerAsset">
        <id column="ID" property="id" />
        <result column="ACCOUNT_ID" property="accountId"/>
        <result column="ANUAL_NET_INCOME" property="anualNetIncome"/>
        <result column="NET_ASSET_VALUE" property="netAssetValue"/>
        <result column="NET_CURRENT_ASSETS" property="netCurrentAssets"/>
        <result column="CREATED_BY" property="createdBy"/>
        <result column="CREATED_DATE" property="createdDate"/>
        <result column="UPDATED_BY" property="updatedBy"/>
        <result column="UPDATED_DATE" property="updatedDate"/>
    </resultMap>

    <!-- 普通插入 -->
    <insert id="insert" parameterType="com.fintech.gams.account.entity.AccountPerAsset">
        INSERT INTO ACCOUNT_PER_ASSET(
            ID ,
            ACCOUNT_ID ,
            ANUAL_NET_INCOME ,
            NET_ASSET_VALUE ,
            NET_CURRENT_ASSETS ,
            CREATED_BY ,
            CREATED_DATE ,
            UPDATED_BY ,
            UPDATED_DATE 
        ) VALUES (
            #{id} ,
            #{accountId} ,
            #{anualNetIncome} ,
            #{netAssetValue} ,
            #{netCurrentAssets} ,
            #{createdBy} ,
            #{createdDate} ,
            #{updatedBy} ,
            #{updatedDate} 
        )
    </insert>
    <!-- 根据主键物理删除 -->
    <delete id="remove" parameterType="java.lang.Long">
        DELETE FROM ACCOUNT_PER_ASSET WHERE ID = #{id}
    </delete>

    <!-- 根据主键逻辑删除 -->
    <update id="delete" parameterType="java.lang.Long">
        UPDATE ACCOUNT_PER_ASSET SET DEL_FLAG = 1 WHERE ID = #{id}
    </update>

    <!--根据条件是否插入数据 -->
    <insert id="insertSelective" parameterType="com.fintech.gams.account.entity.AccountPerAsset">
        INSERT INTO ACCOUNT_PER_ASSET
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
                ID ,
        </if>
        <if test="accountId != null">
                ACCOUNT_ID ,
        </if>
        <if test="anualNetIncome != null">
                ANUAL_NET_INCOME ,
        </if>
        <if test="netAssetValue != null">
                NET_ASSET_VALUE ,
        </if>
        <if test="netCurrentAssets != null">
                NET_CURRENT_ASSETS ,
        </if>
        <if test="createdBy != null">
                CREATED_BY ,
        </if>
        <if test="createdDate != null">
                CREATED_DATE ,
        </if>
        <if test="updatedBy != null">
                UPDATED_BY ,
        </if>
        <if test="updatedDate != null">
                UPDATED_DATE 
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
                #{id} ,
        </if>
        <if test="accountId != null">
                #{accountId} ,
        </if>
        <if test="anualNetIncome != null">
                #{anualNetIncome} ,
        </if>
        <if test="netAssetValue != null">
                #{netAssetValue} ,
        </if>
        <if test="netCurrentAssets != null">
                #{netCurrentAssets} ,
        </if>
        <if test="createdBy != null">
                #{createdBy} ,
        </if>
        <if test="createdDate != null">
                #{createdDate} ,
        </if>
        <if test="updatedBy != null">
                #{updatedBy} ,
        </if>
        <if test="updatedDate != null">
                #{updatedDate} 
        </if>
        </trim>
    </insert>

    <!-- 选择性更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.fintech.gams.account.entity.AccountPerAsset">
        UPDATE ACCOUNT_PER_ASSET
           <set>
            <if test="accountId != null">
                ACCOUNT_ID = #{accountId} ,
            </if>
            <if test="anualNetIncome != null">
                ANUAL_NET_INCOME = #{anualNetIncome} ,
            </if>
            <if test="netAssetValue != null">
                NET_ASSET_VALUE = #{netAssetValue} ,
            </if>
            <if test="netCurrentAssets != null">
                NET_CURRENT_ASSETS = #{netCurrentAssets} ,
            </if>
            <if test="createdBy != null">
                CREATED_BY = #{createdBy} ,
            </if>
            <if test="createdDate != null">
                CREATED_DATE = #{createdDate} ,
            </if>
            <if test="updatedBy != null">
                UPDATED_BY = #{updatedBy} ,
            </if>
            <if test="updatedDate != null">
                UPDATED_DATE = #{updatedDate} 
            </if>
           </set>
        WHERE ID = #{id}
    </update>

    <!-- 批量插入 -->
    <insert id="insertBatch" parameterType="list">
        INSERT INTO ACCOUNT_PER_ASSET(
            ID ,
            ACCOUNT_ID ,
            ANUAL_NET_INCOME ,
            NET_ASSET_VALUE ,
            NET_CURRENT_ASSETS ,
            CREATED_BY ,
            CREATED_DATE ,
            UPDATED_BY ,
            UPDATED_DATE 
        )
        <foreach close=")" collection="list" item="item" index="index" open="(" separator="union">
            SELECT
            #{item.id} ,
            #{item.accountId} ,
            #{item.anualNetIncome} ,
            #{item.netAssetValue} ,
            #{item.netCurrentAssets} ,
            #{item.createdBy} ,
            #{item.createdDate} ,
            #{item.updatedBy} ,
            #{item.updatedDate} 
            FROM DUAL
        </foreach>
    </insert>

    <!-- 批量修改 -->
    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            UPDATE ACCOUNT_PER_ASSET SET
            ACCOUNT_ID = #{item.accountId} ,
            ANUAL_NET_INCOME = #{item.anualNetIncome} ,
            NET_ASSET_VALUE = #{item.netAssetValue} ,
            NET_CURRENT_ASSETS = #{item.netCurrentAssets} ,
            CREATED_BY = #{item.createdBy} ,
            CREATED_DATE = #{item.createdDate} ,
            UPDATED_BY = #{item.updatedBy} ,
            UPDATED_DATE = #{item.updatedDate} 
            WHERE ID = #{item.id}
        </foreach>
    </update>

    <!-- 根据主键更新一条信息所有数据 -->
    <update id="updateByPrimaryKey" parameterType="com.fintech.gams.account.entity.AccountPerAsset">
        UPDATE ACCOUNT_PER_ASSET SET
            ACCOUNT_ID = #{accountId} ,
            ANUAL_NET_INCOME = #{anualNetIncome} ,
            NET_ASSET_VALUE = #{netAssetValue} ,
            NET_CURRENT_ASSETS = #{netCurrentAssets} ,
            CREATED_BY = #{createdBy} ,
            CREATED_DATE = #{createdDate} ,
            UPDATED_BY = #{updatedBy} ,
            UPDATED_DATE = #{updatedDate} 
        WHERE ID = #{id}
    </update>

    <!-- 根据主键取数据 -->
    <select id="selectByPrimaryKey"  parameterType="java.lang.Long" resultType="com.fintech.gams.account.entity.AccountPerAsset">
        SELECT <include refid="accountPerAssetColumns"/> FROM ACCOUNT_PER_ASSET a WHERE a.ID = #{id}
    </select>

    <!-- 可分页的对象查询 -->
    <select id="findList" resultType="com.fintech.gams.account.entity.AccountPerAsset">
        SELECT
        <include refid="accountPerAssetColumns"/>
        FROM ACCOUNT_PER_ASSET a WHERE 1 = 1
        <if test="accountId != null">
            AND a.ACCOUNT_ID = #{accountId}
        </if>
        <if test="anualNetIncome != null">
            AND a.ANUAL_NET_INCOME = #{anualNetIncome}
        </if>
        <if test="netAssetValue != null">
            AND a.NET_ASSET_VALUE = #{netAssetValue}
        </if>
        <if test="netCurrentAssets != null">
            AND a.NET_CURRENT_ASSETS = #{netCurrentAssets}
        </if>
        <if test="createdBy != null">
            AND a.CREATED_BY = #{createdBy}
        </if>
        <if test="createdDate != null">
            AND a.CREATED_DATE = #{createdDate}
        </if>
        <if test="updatedBy != null">
            AND a.UPDATED_BY = #{updatedBy}
        </if>
        <if test="updatedDate != null">
            AND a.UPDATED_DATE = #{updatedDate}
        </if>
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.fintech.gams.account.entity.AccountPerAsset">
        SELECT
        <include refid="accountPerAssetColumns"/>
        FROM ACCOUNT_PER_ASSET a WHERE a.DEL_FLAG = 0
    </select>

</mapper>

