<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fintech.gams.account.mapper.AccountCoInvestmentAccountMapper">
    <!-- 基础列 -->
    <sql id="accountCoInvestmentAccountColumns">
        a.ID as id,
        a.ACCOUNT_ID as accountId,
        a.IS_STOCK_INCOME_GROWTH_PLAN as isStockIncomeGrowthPlan,
        a.ACCOUNT_NAME as accountName,
        a.SIGNATURE_DATE as signatureDate,
        a.SIGNATURE as signature,
        a.CREATED_BY as createdBy,
        a.CREATED_DATE as createdDate,
        a.UPDATED_BY as updatedBy,
        a.UPDATED_DATE as updatedDate
    </sql>

    <resultMap id="accountCoInvestmentAccountResultMap" type="com.fintech.gams.account.entity.AccountCoInvestmentAccount">
        <id column="ID" property="id" />
        <result column="ACCOUNT_ID" property="accountId"/>
        <result column="IS_STOCK_INCOME_GROWTH_PLAN" property="isStockIncomeGrowthPlan"/>
        <result column="ACCOUNT_NAME" property="accountName"/>
        <result column="SIGNATURE_DATE" property="signatureDate"/>
        <result column="SIGNATURE" property="signature"/>
        <result column="CREATED_BY" property="createdBy"/>
        <result column="CREATED_DATE" property="createdDate"/>
        <result column="UPDATED_BY" property="updatedBy"/>
        <result column="UPDATED_DATE" property="updatedDate"/>
    </resultMap>

    <!-- 普通插入 -->
    <insert id="insert" parameterType="com.fintech.gams.account.entity.AccountCoInvestmentAccount">
        INSERT INTO ACCOUNT_CO_INVESTMENT_ACCOUNT(
            ID ,
            ACCOUNT_ID ,
            IS_STOCK_INCOME_GROWTH_PLAN ,
            ACCOUNT_NAME ,
            SIGNATURE_DATE ,
            SIGNATURE ,
            CREATED_BY ,
            CREATED_DATE ,
            UPDATED_BY ,
            UPDATED_DATE 
        ) VALUES (
            #{id} ,
            #{accountId} ,
            #{isStockIncomeGrowthPlan} ,
            #{accountName} ,
            #{signatureDate} ,
            #{signature} ,
            #{createdBy} ,
            #{createdDate} ,
            #{updatedBy} ,
            #{updatedDate} 
        )
    </insert>
    <!-- 根据主键物理删除 -->
    <delete id="remove" parameterType="java.lang.Long">
        DELETE FROM ACCOUNT_CO_INVESTMENT_ACCOUNT WHERE ID = #{id}
    </delete>

    <!-- 根据主键逻辑删除 -->
    <update id="delete" parameterType="java.lang.Long">
        UPDATE ACCOUNT_CO_INVESTMENT_ACCOUNT SET DEL_FLAG = 1 WHERE ID = #{id}
    </update>

    <!--根据条件是否插入数据 -->
    <insert id="insertSelective" parameterType="com.fintech.gams.account.entity.AccountCoInvestmentAccount">
        INSERT INTO ACCOUNT_CO_INVESTMENT_ACCOUNT
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
                ID ,
        </if>
        <if test="accountId != null">
                ACCOUNT_ID ,
        </if>
        <if test="isStockIncomeGrowthPlan != null">
                IS_STOCK_INCOME_GROWTH_PLAN ,
        </if>
        <if test="accountName != null">
                ACCOUNT_NAME ,
        </if>
        <if test="signatureDate != null">
                SIGNATURE_DATE ,
        </if>
        <if test="signature != null">
                SIGNATURE ,
        </if>
        <if test="createdBy != null">
                CREATED_BY ,
        </if>
        <if test="createdDate != null">
                CREATED_DATE ,
        </if>
        <if test="updatedBy != null">
                UPDATED_BY ,
        </if>
        <if test="updatedDate != null">
                UPDATED_DATE 
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
                #{id} ,
        </if>
        <if test="accountId != null">
                #{accountId} ,
        </if>
        <if test="isStockIncomeGrowthPlan != null">
                #{isStockIncomeGrowthPlan} ,
        </if>
        <if test="accountName != null">
                #{accountName} ,
        </if>
        <if test="signatureDate != null">
                #{signatureDate} ,
        </if>
        <if test="signature != null">
                #{signature} ,
        </if>
        <if test="createdBy != null">
                #{createdBy} ,
        </if>
        <if test="createdDate != null">
                #{createdDate} ,
        </if>
        <if test="updatedBy != null">
                #{updatedBy} ,
        </if>
        <if test="updatedDate != null">
                #{updatedDate} 
        </if>
        </trim>
    </insert>

    <!-- 选择性更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.fintech.gams.account.entity.AccountCoInvestmentAccount">
        UPDATE ACCOUNT_CO_INVESTMENT_ACCOUNT
           <set>
            <if test="accountId != null">
                ACCOUNT_ID = #{accountId} ,
            </if>
            <if test="isStockIncomeGrowthPlan != null">
                IS_STOCK_INCOME_GROWTH_PLAN = #{isStockIncomeGrowthPlan} ,
            </if>
            <if test="accountName != null">
                ACCOUNT_NAME = #{accountName} ,
            </if>
            <if test="signatureDate != null">
                SIGNATURE_DATE = #{signatureDate} ,
            </if>
            <if test="signature != null">
                SIGNATURE = #{signature} ,
            </if>
            <if test="createdBy != null">
                CREATED_BY = #{createdBy} ,
            </if>
            <if test="createdDate != null">
                CREATED_DATE = #{createdDate} ,
            </if>
            <if test="updatedBy != null">
                UPDATED_BY = #{updatedBy} ,
            </if>
            <if test="updatedDate != null">
                UPDATED_DATE = #{updatedDate} 
            </if>
           </set>
        WHERE ID = #{id}
    </update>

    <!-- 批量插入 -->
    <insert id="insertBatch" parameterType="list">
        INSERT INTO ACCOUNT_CO_INVESTMENT_ACCOUNT(
            ID ,
            ACCOUNT_ID ,
            IS_STOCK_INCOME_GROWTH_PLAN ,
            ACCOUNT_NAME ,
            SIGNATURE_DATE ,
            SIGNATURE ,
            CREATED_BY ,
            CREATED_DATE ,
            UPDATED_BY ,
            UPDATED_DATE 
        )
        <foreach close=")" collection="list" item="item" index="index" open="(" separator="union">
            SELECT
            #{item.id} ,
            #{item.accountId} ,
            #{item.isStockIncomeGrowthPlan} ,
            #{item.accountName} ,
            #{item.signatureDate} ,
            #{item.signature} ,
            #{item.createdBy} ,
            #{item.createdDate} ,
            #{item.updatedBy} ,
            #{item.updatedDate} 
            FROM DUAL
        </foreach>
    </insert>

    <!-- 批量修改 -->
    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            UPDATE ACCOUNT_CO_INVESTMENT_ACCOUNT SET
            ACCOUNT_ID = #{item.accountId} ,
            IS_STOCK_INCOME_GROWTH_PLAN = #{item.isStockIncomeGrowthPlan} ,
            ACCOUNT_NAME = #{item.accountName} ,
            SIGNATURE_DATE = #{item.signatureDate} ,
            SIGNATURE = #{item.signature} ,
            CREATED_BY = #{item.createdBy} ,
            CREATED_DATE = #{item.createdDate} ,
            UPDATED_BY = #{item.updatedBy} ,
            UPDATED_DATE = #{item.updatedDate} 
            WHERE ID = #{item.id}
        </foreach>
    </update>

    <!-- 根据主键更新一条信息所有数据 -->
    <update id="updateByPrimaryKey" parameterType="com.fintech.gams.account.entity.AccountCoInvestmentAccount">
        UPDATE ACCOUNT_CO_INVESTMENT_ACCOUNT SET
            ACCOUNT_ID = #{accountId} ,
            IS_STOCK_INCOME_GROWTH_PLAN = #{isStockIncomeGrowthPlan} ,
            ACCOUNT_NAME = #{accountName} ,
            SIGNATURE_DATE = #{signatureDate} ,
            SIGNATURE = #{signature} ,
            CREATED_BY = #{createdBy} ,
            CREATED_DATE = #{createdDate} ,
            UPDATED_BY = #{updatedBy} ,
            UPDATED_DATE = #{updatedDate} 
        WHERE ID = #{id}
    </update>

    <!-- 根据主键取数据 -->
    <select id="selectByPrimaryKey"  parameterType="java.lang.Long" resultType="com.fintech.gams.account.entity.AccountCoInvestmentAccount">
        SELECT <include refid="accountCoInvestmentAccountColumns"/> FROM ACCOUNT_CO_INVESTMENT_ACCOUNT a WHERE a.ID = #{id}
    </select>

    <!-- 可分页的对象查询 -->
    <select id="findList" resultType="com.fintech.gams.account.entity.AccountCoInvestmentAccount">
        SELECT
        <include refid="accountCoInvestmentAccountColumns"/>
        FROM ACCOUNT_CO_INVESTMENT_ACCOUNT a WHERE 1 = 1
        <if test="accountId != null">
            AND a.ACCOUNT_ID = #{accountId}
        </if>
        <if test="isStockIncomeGrowthPlan != null">
            AND a.IS_STOCK_INCOME_GROWTH_PLAN = #{isStockIncomeGrowthPlan}
        </if>
        <if test="accountName != null">
            AND a.ACCOUNT_NAME LIKE '%'||#{accountName}||'%'
        </if>
        <if test="signatureDate != null">
            AND a.SIGNATURE_DATE = #{signatureDate}
        </if>
        <if test="signature != null">
            AND a.SIGNATURE = #{signature}
        </if>
        <if test="createdBy != null">
            AND a.CREATED_BY = #{createdBy}
        </if>
        <if test="createdDate != null">
            AND a.CREATED_DATE = #{createdDate}
        </if>
        <if test="updatedBy != null">
            AND a.UPDATED_BY = #{updatedBy}
        </if>
        <if test="updatedDate != null">
            AND a.UPDATED_DATE = #{updatedDate}
        </if>
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.fintech.gams.account.entity.AccountCoInvestmentAccount">
        SELECT
        <include refid="accountCoInvestmentAccountColumns"/>
        FROM ACCOUNT_CO_INVESTMENT_ACCOUNT a WHERE a.DEL_FLAG = 0
    </select>


</mapper>

