<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fintech.gams.account.mapper.AccountParRegulatoryMapper">
    <!-- 基础列 -->
    <sql id="accountParRegulatoryColumns">
        a.ID as id,
        a.ACCOUNT_ID as accountId,
        a.WHETHER as whether,
        a.INFO_DETAILS as infoDetails,
        a.INFO_TYPE as infoType
    </sql>

    <resultMap id="accountParRegulatoryResultMap" type="com.fintech.gams.account.entity.AccountParRegulatory">
        <id column="ID" property="id" />
        <result column="ACCOUNT_ID" property="accountId"/>
        <result column="WHETHER" property="whether"/>
        <result column="INFO_DETAILS" property="infoDetails"/>
        <result column="INFO_TYPE" property="infoType"/>
    </resultMap>

    <!-- 普通插入 -->
    <insert id="insert" parameterType="com.fintech.gams.account.entity.AccountParRegulatory">
        INSERT INTO ACCOUNT_PAR_REGULATORY(
            ID ,
            ACCOUNT_ID ,
            WHETHER ,
            INFO_DETAILS ,
            INFO_TYPE 
        ) VALUES (
            #{id} ,
            #{accountId} ,
            #{whether} ,
            #{infoDetails} ,
            #{infoType} 
        )
    </insert>
    <!-- 根据主键物理删除 -->
    <delete id="remove" parameterType="java.lang.Long">
        DELETE FROM ACCOUNT_PAR_REGULATORY WHERE ID = #{id}
    </delete>

    <!-- 根据主键逻辑删除
    <update id="delete" parameterType="java.lang.Long">
        UPDATE ACCOUNT_PAR_REGULATORY SET DEL_FLAG = 1 WHERE ID = #{id}
    </update>
    -->

    <!--根据条件是否插入数据 -->
    <insert id="insertSelective" parameterType="com.fintech.gams.account.entity.AccountParRegulatory">
        INSERT INTO ACCOUNT_PAR_REGULATORY
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
                ID ,
        </if>
        <if test="accountId != null">
                ACCOUNT_ID ,
        </if>
        <if test="whether != null">
                WHETHER ,
        </if>
        <if test="infoDetails != null">
                INFO_DETAILS ,
        </if>
        <if test="infoType != null">
                INFO_TYPE 
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
                #{id} ,
        </if>
        <if test="accountId != null">
                #{accountId} ,
        </if>
        <if test="whether != null">
                #{whether} ,
        </if>
        <if test="infoDetails != null">
                #{infoDetails} ,
        </if>
        <if test="infoType != null">
                #{infoType} 
        </if>
        </trim>
    </insert>

    <!-- 选择性更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.fintech.gams.account.entity.AccountParRegulatory">
        UPDATE ACCOUNT_PAR_REGULATORY
           <set>
            <if test="accountId != null">
                ACCOUNT_ID = #{accountId} ,
            </if>
            <if test="whether != null">
                WHETHER = #{whether} ,
            </if>
            <if test="infoDetails != null">
                INFO_DETAILS = #{infoDetails} ,
            </if>
            <if test="infoType != null">
                INFO_TYPE = #{infoType} 
            </if>
           </set>
        WHERE ID = #{id}
    </update>

    <!-- 批量插入 -->
    <insert id="insertBatch" parameterType="list">
        INSERT INTO ACCOUNT_PAR_REGULATORY(
            ID ,
            ACCOUNT_ID ,
            WHETHER ,
            INFO_DETAILS ,
            INFO_TYPE 
        )
        <foreach close=")" collection="list" item="item" index="index" open="(" separator="union">
            SELECT
            #{item.id} ,
            #{item.accountId} ,
            #{item.whether} ,
            #{item.infoDetails} ,
            #{item.infoType} 
            FROM DUAL
        </foreach>
    </insert>

    <!-- 批量修改 -->
    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            UPDATE ACCOUNT_PAR_REGULATORY SET
            ACCOUNT_ID = #{item.accountId} ,
            WHETHER = #{item.whether} ,
            INFO_DETAILS = #{item.infoDetails} ,
            INFO_TYPE = #{item.infoType} 
            WHERE ID = #{item.id}
        </foreach>
    </update>

    <!-- 根据主键更新一条信息所有数据 -->
    <update id="updateByPrimaryKey" parameterType="com.fintech.gams.account.entity.AccountParRegulatory">
        UPDATE ACCOUNT_PAR_REGULATORY SET
            ACCOUNT_ID = #{accountId} ,
            WHETHER = #{whether} ,
            INFO_DETAILS = #{infoDetails} ,
            INFO_TYPE = #{infoType} 
        WHERE ID = #{id}
    </update>

    <!-- 根据主键取数据 -->
    <select id="selectByPrimaryKey"  parameterType="java.lang.Long" resultType="com.fintech.gams.account.entity.AccountParRegulatory">
        SELECT <include refid="accountParRegulatoryColumns"/> FROM ACCOUNT_PAR_REGULATORY a WHERE a.ID = #{id}
    </select>

    <!-- 可分页的对象查询 -->
    <select id="findList" resultType="com.fintech.gams.account.entity.AccountParRegulatory">
        SELECT
        <include refid="accountParRegulatoryColumns"/>
        FROM ACCOUNT_PAR_REGULATORY a WHERE 1 = 1 <!-- and a.DEL_FLAG = 0-->
        <if test="accountId != null">
            AND a.ACCOUNT_ID = #{accountId}
        </if>
        <if test="whether != null">
            AND a.WHETHER LIKE '%'||#{whether}||'%'
        </if>
        <if test="infoDetails != null">
            AND a.INFO_DETAILS LIKE '%'||#{infoDetails}||'%'
        </if>
        <if test="infoType != null">
            AND a.INFO_TYPE LIKE '%'||#{infoType}||'%'
        </if>
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.fintech.gams.account.entity.AccountParRegulatory">
        SELECT
        <include refid="accountParRegulatoryColumns"/>
        FROM ACCOUNT_PAR_REGULATORY a <!--WHERE a.DEL_FLAG = 0-->
    </select>


</mapper>

