<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fintech.gams.account.mapper.AccountPerInfoMapper">
    <!-- 基础列 -->
    <sql id="accountPerInfoColumns">
        a.ID as id,
        a.ACCOUNT_ID as accountId,
        a.PERSONAL_TYPE as personalType,
        a.APPELLATION as appellation,
        a.LAST_NAME as lastName,
        a.FIRST_NAME as firstName,
        a.BIRTHDAY as birthday,
        a.GENDER as gender,
        a.MARITAL_STATUS as maritalStatus,
        a.NUMBER_OF_FAMILY_MEMBERS as numberOfFamilyMembers,
        a.OTHER_NATIONALITY as otherNationality,
        a.OTHER_COUNTRIES_OF_BIRTH as otherCountriesOfBirth,
        a.CREATED_BY as createdBy,
        a.CREATED_DATE as createdDate,
        a.UPDATED_BY as updatedBy,
        a.UPDATED_DATE as updatedDate
    </sql>

    <resultMap id="accountPerInfoResultMap" type="com.fintech.gams.account.entity.AccountPerInfo">
        <id column="ID" property="id" />
        <result column="ACCOUNT_ID" property="accountId"/>
        <result column="PERSONAL_TYPE" property="personalType"/>
        <result column="APPELLATION" property="appellation"/>
        <result column="LAST_NAME" property="lastName"/>
        <result column="FIRST_NAME" property="firstName"/>
        <result column="BIRTHDAY" property="birthday"/>
        <result column="GENDER" property="gender"/>
        <result column="MARITAL_STATUS" property="maritalStatus"/>
        <result column="NUMBER_OF_FAMILY_MEMBERS" property="numberOfFamilyMembers"/>
        <result column="OTHER_NATIONALITY" property="otherNationality"/>
        <result column="OTHER_COUNTRIES_OF_BIRTH" property="otherCountriesOfBirth"/>
        <result column="CREATED_BY" property="createdBy"/>
        <result column="CREATED_DATE" property="createdDate"/>
        <result column="UPDATED_BY" property="updatedBy"/>
        <result column="UPDATED_DATE" property="updatedDate"/>
    </resultMap>

    <!-- 普通插入 -->
    <insert id="insert" parameterType="com.fintech.gams.account.entity.AccountPerInfo">
        INSERT INTO ACCOUNT_PER_INFO(
            ID ,
            ACCOUNT_ID ,
            PERSONAL_TYPE ,
            APPELLATION ,
            LAST_NAME ,
            FIRST_NAME ,
            BIRTHDAY ,
            GENDER ,
            MARITAL_STATUS ,
            NUMBER_OF_FAMILY_MEMBERS ,
            OTHER_NATIONALITY ,
            OTHER_COUNTRIES_OF_BIRTH ,
            CREATED_BY ,
            CREATED_DATE ,
            UPDATED_BY ,
            UPDATED_DATE 
        ) VALUES (
            #{id} ,
            #{accountId} ,
            #{personalType} ,
            #{appellation} ,
            #{lastName} ,
            #{firstName} ,
            #{birthday} ,
            #{gender} ,
            #{maritalStatus} ,
            #{numberOfFamilyMembers} ,
            #{otherNationality} ,
            #{otherCountriesOfBirth} ,
            #{createdBy} ,
            #{createdDate} ,
            #{updatedBy} ,
            #{updatedDate} 
        )
    </insert>
    <!-- 根据主键物理删除 -->
    <delete id="remove" parameterType="java.lang.Long">
        DELETE FROM ACCOUNT_PER_INFO WHERE ID = #{id}
    </delete>

    <!-- 根据主键逻辑删除 -->
    <update id="delete" parameterType="java.lang.Long">
        UPDATE ACCOUNT_PER_INFO SET DEL_FLAG = 1 WHERE ID = #{id}
    </update>

    <!--根据条件是否插入数据 -->
    <insert id="insertSelective" parameterType="com.fintech.gams.account.entity.AccountPerInfo">
        INSERT INTO ACCOUNT_PER_INFO
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
                ID ,
        </if>
        <if test="accountId != null">
                ACCOUNT_ID ,
        </if>
        <if test="personalType != null">
                PERSONAL_TYPE ,
        </if>
        <if test="appellation != null">
                APPELLATION ,
        </if>
        <if test="lastName != null">
                LAST_NAME ,
        </if>
        <if test="firstName != null">
                FIRST_NAME ,
        </if>
        <if test="birthday != null">
                BIRTHDAY ,
        </if>
        <if test="gender != null">
                GENDER ,
        </if>
        <if test="maritalStatus != null">
                MARITAL_STATUS ,
        </if>
        <if test="numberOfFamilyMembers != null">
                NUMBER_OF_FAMILY_MEMBERS ,
        </if>
        <if test="otherNationality != null">
                OTHER_NATIONALITY ,
        </if>
        <if test="otherCountriesOfBirth != null">
                OTHER_COUNTRIES_OF_BIRTH ,
        </if>
        <if test="createdBy != null">
                CREATED_BY ,
        </if>
        <if test="createdDate != null">
                CREATED_DATE ,
        </if>
        <if test="updatedBy != null">
                UPDATED_BY ,
        </if>
        <if test="updatedDate != null">
                UPDATED_DATE 
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
                #{id} ,
        </if>
        <if test="accountId != null">
                #{accountId} ,
        </if>
        <if test="personalType != null">
                #{personalType} ,
        </if>
        <if test="appellation != null">
                #{appellation} ,
        </if>
        <if test="lastName != null">
                #{lastName} ,
        </if>
        <if test="firstName != null">
                #{firstName} ,
        </if>
        <if test="birthday != null">
                #{birthday} ,
        </if>
        <if test="gender != null">
                #{gender} ,
        </if>
        <if test="maritalStatus != null">
                #{maritalStatus} ,
        </if>
        <if test="numberOfFamilyMembers != null">
                #{numberOfFamilyMembers} ,
        </if>
        <if test="otherNationality != null">
                #{otherNationality} ,
        </if>
        <if test="otherCountriesOfBirth != null">
                #{otherCountriesOfBirth} ,
        </if>
        <if test="createdBy != null">
                #{createdBy} ,
        </if>
        <if test="createdDate != null">
                #{createdDate} ,
        </if>
        <if test="updatedBy != null">
                #{updatedBy} ,
        </if>
        <if test="updatedDate != null">
                #{updatedDate} 
        </if>
        </trim>
    </insert>

    <!-- 选择性更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.fintech.gams.account.entity.AccountPerInfo">
        UPDATE ACCOUNT_PER_INFO
           <set>
            <if test="accountId != null">
                ACCOUNT_ID = #{accountId} ,
            </if>
            <if test="personalType != null">
                PERSONAL_TYPE = #{personalType} ,
            </if>
            <if test="appellation != null">
                APPELLATION = #{appellation} ,
            </if>
            <if test="lastName != null">
                LAST_NAME = #{lastName} ,
            </if>
            <if test="firstName != null">
                FIRST_NAME = #{firstName} ,
            </if>
            <if test="birthday != null">
                BIRTHDAY = #{birthday} ,
            </if>
            <if test="gender != null">
                GENDER = #{gender} ,
            </if>
            <if test="maritalStatus != null">
                MARITAL_STATUS = #{maritalStatus} ,
            </if>
            <if test="numberOfFamilyMembers != null">
                NUMBER_OF_FAMILY_MEMBERS = #{numberOfFamilyMembers} ,
            </if>
            <if test="otherNationality != null">
                OTHER_NATIONALITY = #{otherNationality} ,
            </if>
            <if test="otherCountriesOfBirth != null">
                OTHER_COUNTRIES_OF_BIRTH = #{otherCountriesOfBirth} ,
            </if>
            <if test="createdBy != null">
                CREATED_BY = #{createdBy} ,
            </if>
            <if test="createdDate != null">
                CREATED_DATE = #{createdDate} ,
            </if>
            <if test="updatedBy != null">
                UPDATED_BY = #{updatedBy} ,
            </if>
            <if test="updatedDate != null">
                UPDATED_DATE = #{updatedDate} 
            </if>
           </set>
        WHERE ID = #{id}
    </update>

    <!-- 批量插入 -->
    <insert id="insertBatch" parameterType="list">
        INSERT INTO ACCOUNT_PER_INFO(
            ID ,
            ACCOUNT_ID ,
            PERSONAL_TYPE ,
            APPELLATION ,
            LAST_NAME ,
            FIRST_NAME ,
            BIRTHDAY ,
            GENDER ,
            MARITAL_STATUS ,
            NUMBER_OF_FAMILY_MEMBERS ,
            OTHER_NATIONALITY ,
            OTHER_COUNTRIES_OF_BIRTH ,
            CREATED_BY ,
            CREATED_DATE ,
            UPDATED_BY ,
            UPDATED_DATE 
        )
        <foreach close=")" collection="list" item="item" index="index" open="(" separator="union">
            SELECT
            #{item.id} ,
            #{item.accountId} ,
            #{item.personalType} ,
            #{item.appellation} ,
            #{item.lastName} ,
            #{item.firstName} ,
            #{item.birthday} ,
            #{item.gender} ,
            #{item.maritalStatus} ,
            #{item.numberOfFamilyMembers} ,
            #{item.otherNationality} ,
            #{item.otherCountriesOfBirth} ,
            #{item.createdBy} ,
            #{item.createdDate} ,
            #{item.updatedBy} ,
            #{item.updatedDate} 
            FROM DUAL
        </foreach>
    </insert>

    <!-- 批量修改 -->
    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            UPDATE ACCOUNT_PER_INFO SET
            ACCOUNT_ID = #{item.accountId} ,
            PERSONAL_TYPE = #{item.personalType} ,
            APPELLATION = #{item.appellation} ,
            LAST_NAME = #{item.lastName} ,
            FIRST_NAME = #{item.firstName} ,
            BIRTHDAY = #{item.birthday} ,
            GENDER = #{item.gender} ,
            MARITAL_STATUS = #{item.maritalStatus} ,
            NUMBER_OF_FAMILY_MEMBERS = #{item.numberOfFamilyMembers} ,
            OTHER_NATIONALITY = #{item.otherNationality} ,
            OTHER_COUNTRIES_OF_BIRTH = #{item.otherCountriesOfBirth} ,
            CREATED_BY = #{item.createdBy} ,
            CREATED_DATE = #{item.createdDate} ,
            UPDATED_BY = #{item.updatedBy} ,
            UPDATED_DATE = #{item.updatedDate} 
            WHERE ID = #{item.id}
        </foreach>
    </update>

    <!-- 根据主键更新一条信息所有数据 -->
    <update id="updateByPrimaryKey" parameterType="com.fintech.gams.account.entity.AccountPerInfo">
        UPDATE ACCOUNT_PER_INFO SET
            ACCOUNT_ID = #{accountId} ,
            PERSONAL_TYPE = #{personalType} ,
            APPELLATION = #{appellation} ,
            LAST_NAME = #{lastName} ,
            FIRST_NAME = #{firstName} ,
            BIRTHDAY = #{birthday} ,
            GENDER = #{gender} ,
            MARITAL_STATUS = #{maritalStatus} ,
            NUMBER_OF_FAMILY_MEMBERS = #{numberOfFamilyMembers} ,
            OTHER_NATIONALITY = #{otherNationality} ,
            OTHER_COUNTRIES_OF_BIRTH = #{otherCountriesOfBirth} ,
            CREATED_BY = #{createdBy} ,
            CREATED_DATE = #{createdDate} ,
            UPDATED_BY = #{updatedBy} ,
            UPDATED_DATE = #{updatedDate} 
        WHERE ID = #{id}
    </update>

    <!-- 根据主键取数据 -->
    <select id="selectByPrimaryKey"  parameterType="java.lang.Long" resultType="com.fintech.gams.account.entity.AccountPerInfo">
        SELECT <include refid="accountPerInfoColumns"/> FROM ACCOUNT_PER_INFO a WHERE a.ID = #{id}
    </select>

    <!-- 可分页的对象查询 -->
    <select id="findList" resultType="com.fintech.gams.account.entity.AccountPerInfo">
        SELECT
        <include refid="accountPerInfoColumns"/>
        FROM ACCOUNT_PER_INFO a WHERE 1 = 1
        <if test="accountId != null">
            AND a.ACCOUNT_ID = #{accountId}
        </if>
        <if test="personalType != null">
            AND a.PERSONAL_TYPE LIKE '%'||#{personalType}||'%'
        </if>
        <if test="appellation != null">
            AND a.APPELLATION LIKE '%'||#{appellation}||'%'
        </if>
        <if test="lastName != null">
            AND a.LAST_NAME LIKE '%'||#{lastName}||'%'
        </if>
        <if test="firstName != null">
            AND a.FIRST_NAME LIKE '%'||#{firstName}||'%'
        </if>
        <if test="birthday != null">
            AND a.BIRTHDAY = #{birthday}
        </if>
        <if test="gender != null">
            AND a.GENDER LIKE '%'||#{gender}||'%'
        </if>
        <if test="maritalStatus != null">
            AND a.MARITAL_STATUS LIKE '%'||#{maritalStatus}||'%'
        </if>
        <if test="numberOfFamilyMembers != null">
            AND a.NUMBER_OF_FAMILY_MEMBERS LIKE '%'||#{numberOfFamilyMembers}||'%'
        </if>
        <if test="otherNationality != null">
            AND a.OTHER_NATIONALITY LIKE '%'||#{otherNationality}||'%'
        </if>
        <if test="otherCountriesOfBirth != null">
            AND a.OTHER_COUNTRIES_OF_BIRTH LIKE '%'||#{otherCountriesOfBirth}||'%'
        </if>
        <if test="createdBy != null">
            AND a.CREATED_BY = #{createdBy}
        </if>
        <if test="createdDate != null">
            AND a.CREATED_DATE = #{createdDate}
        </if>
        <if test="updatedBy != null">
            AND a.UPDATED_BY = #{updatedBy}
        </if>
        <if test="updatedDate != null">
            AND a.UPDATED_DATE = #{updatedDate}
        </if>
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.fintech.gams.account.entity.AccountPerInfo">
        SELECT
        <include refid="accountPerInfoColumns"/>
        FROM ACCOUNT_PER_INFO a WHERE a.DEL_FLAG = 0
    </select>


</mapper>

