<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fintech.gams.account.mapper.AccountParAddressMapper">
    <!-- 基础列 -->
    <sql id="accountParAddressColumns">
        a.ID as id,
        a.ACCOUNT_ID as accountId,
        a.PAR_PERSONAL_ID as parPersonalId,
        a.COUNTRY as country,
        a.ADDRESS as address,
        a.CITY as city,
        a.ROVINCE as rovince,
        a.ZIP_CODE as zipCode,
        a.ADDRESS_TYPE as addressType,
        a.OTHER_COUNTRY as otherCountry,
        a.OTHER_BIRTH_COUNTRY as otherBirthCountry,
        a.CREATED_BY as createdBy,
        a.CREATED_DATE as createdDate,
        a.UPDATED_BY as updatedBy,
        a.UPDATED_DATE as updatedDate
    </sql>

    <resultMap id="accountParAddressResultMap" type="com.fintech.gams.account.entity.AccountParAddress">
        <id column="ID" property="id" />
        <result column="ACCOUNT_ID" property="accountId"/>
        <result column="PAR_PERSONAL_ID" property="parPersonalId"/>
        <result column="COUNTRY" property="country"/>
        <result column="ADDRESS" property="address"/>
        <result column="CITY" property="city"/>
        <result column="ROVINCE" property="rovince"/>
        <result column="ZIP_CODE" property="zipCode"/>
        <result column="ADDRESS_TYPE" property="addressType"/>
        <result column="OTHER_COUNTRY" property="otherCountry"/>
        <result column="OTHER_BIRTH_COUNTRY" property="otherBirthCountry"/>
        <result column="CREATED_BY" property="createdBy"/>
        <result column="CREATED_DATE" property="createdDate"/>
        <result column="UPDATED_BY" property="updatedBy"/>
        <result column="UPDATED_DATE" property="updatedDate"/>
    </resultMap>

    <!-- 普通插入 -->
    <insert id="insert" parameterType="com.fintech.gams.account.entity.AccountParAddress">
        INSERT INTO ACCOUNT_PAR_ADDRESS(
            ID ,
            ACCOUNT_ID ,
            PAR_PERSONAL_ID ,
            COUNTRY ,
            ADDRESS ,
            CITY ,
            ROVINCE ,
            ZIP_CODE ,
            ADDRESS_TYPE ,
            OTHER_COUNTRY ,
            OTHER_BIRTH_COUNTRY ,
            CREATED_BY ,
            CREATED_DATE ,
            UPDATED_BY ,
            UPDATED_DATE 
        ) VALUES (
            #{id} ,
            #{accountId} ,
            #{parPersonalId} ,
            #{country} ,
            #{address} ,
            #{city} ,
            #{rovince} ,
            #{zipCode} ,
            #{addressType} ,
            #{otherCountry} ,
            #{otherBirthCountry} ,
            #{createdBy} ,
            #{createdDate} ,
            #{updatedBy} ,
            #{updatedDate} 
        )
    </insert>
    <!-- 根据主键物理删除 -->
    <delete id="remove" parameterType="java.lang.Long">
        DELETE FROM ACCOUNT_PAR_ADDRESS WHERE ID = #{id}
    </delete>

    <!-- 根据主键逻辑删除
    <update id="delete" parameterType="java.lang.Long">
        UPDATE ACCOUNT_PAR_ADDRESS SET DEL_FLAG = 1 WHERE ID = #{id}
    </update>
    -->

    <!--根据条件是否插入数据 -->
    <insert id="insertSelective" parameterType="com.fintech.gams.account.entity.AccountParAddress">
        INSERT INTO ACCOUNT_PAR_ADDRESS
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
                ID ,
        </if>
        <if test="accountId != null">
                ACCOUNT_ID ,
        </if>
        <if test="parPersonalId != null">
                PAR_PERSONAL_ID ,
        </if>
        <if test="country != null">
                COUNTRY ,
        </if>
        <if test="address != null">
                ADDRESS ,
        </if>
        <if test="city != null">
                CITY ,
        </if>
        <if test="rovince != null">
                ROVINCE ,
        </if>
        <if test="zipCode != null">
                ZIP_CODE ,
        </if>
        <if test="addressType != null">
                ADDRESS_TYPE ,
        </if>
        <if test="otherCountry != null">
                OTHER_COUNTRY ,
        </if>
        <if test="otherBirthCountry != null">
                OTHER_BIRTH_COUNTRY ,
        </if>
        <if test="createdBy != null">
                CREATED_BY ,
        </if>
        <if test="createdDate != null">
                CREATED_DATE ,
        </if>
        <if test="updatedBy != null">
                UPDATED_BY ,
        </if>
        <if test="updatedDate != null">
                UPDATED_DATE 
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
                #{id} ,
        </if>
        <if test="accountId != null">
                #{accountId} ,
        </if>
        <if test="parPersonalId != null">
                #{parPersonalId} ,
        </if>
        <if test="country != null">
                #{country} ,
        </if>
        <if test="address != null">
                #{address} ,
        </if>
        <if test="city != null">
                #{city} ,
        </if>
        <if test="rovince != null">
                #{rovince} ,
        </if>
        <if test="zipCode != null">
                #{zipCode} ,
        </if>
        <if test="addressType != null">
                #{addressType} ,
        </if>
        <if test="otherCountry != null">
                #{otherCountry} ,
        </if>
        <if test="otherBirthCountry != null">
                #{otherBirthCountry} ,
        </if>
        <if test="createdBy != null">
                #{createdBy} ,
        </if>
        <if test="createdDate != null">
                #{createdDate} ,
        </if>
        <if test="updatedBy != null">
                #{updatedBy} ,
        </if>
        <if test="updatedDate != null">
                #{updatedDate} 
        </if>
        </trim>
    </insert>

    <!-- 选择性更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.fintech.gams.account.entity.AccountParAddress">
        UPDATE ACCOUNT_PAR_ADDRESS
           <set>
            <if test="accountId != null">
                ACCOUNT_ID = #{accountId} ,
            </if>
            <if test="parPersonalId != null">
                PAR_PERSONAL_ID = #{parPersonalId} ,
            </if>
            <if test="country != null">
                COUNTRY = #{country} ,
            </if>
            <if test="address != null">
                ADDRESS = #{address} ,
            </if>
            <if test="city != null">
                CITY = #{city} ,
            </if>
            <if test="rovince != null">
                ROVINCE = #{rovince} ,
            </if>
            <if test="zipCode != null">
                ZIP_CODE = #{zipCode} ,
            </if>
            <if test="addressType != null">
                ADDRESS_TYPE = #{addressType} ,
            </if>
            <if test="otherCountry != null">
                OTHER_COUNTRY = #{otherCountry} ,
            </if>
            <if test="otherBirthCountry != null">
                OTHER_BIRTH_COUNTRY = #{otherBirthCountry} ,
            </if>
            <if test="createdBy != null">
                CREATED_BY = #{createdBy} ,
            </if>
            <if test="createdDate != null">
                CREATED_DATE = #{createdDate} ,
            </if>
            <if test="updatedBy != null">
                UPDATED_BY = #{updatedBy} ,
            </if>
            <if test="updatedDate != null">
                UPDATED_DATE = #{updatedDate} 
            </if>
           </set>
        WHERE ID = #{id}
    </update>

    <!-- 批量插入 -->
    <insert id="insertBatch" parameterType="list">
        INSERT INTO ACCOUNT_PAR_ADDRESS(
            ID ,
            ACCOUNT_ID ,
            PAR_PERSONAL_ID ,
            COUNTRY ,
            ADDRESS ,
            CITY ,
            ROVINCE ,
            ZIP_CODE ,
            ADDRESS_TYPE ,
            OTHER_COUNTRY ,
            OTHER_BIRTH_COUNTRY ,
            CREATED_BY ,
            CREATED_DATE ,
            UPDATED_BY ,
            UPDATED_DATE 
        )
        <foreach close=")" collection="list" item="item" index="index" open="(" separator="union">
            SELECT
            #{item.id} ,
            #{item.accountId} ,
            #{item.parPersonalId} ,
            #{item.country} ,
            #{item.address} ,
            #{item.city} ,
            #{item.rovince} ,
            #{item.zipCode} ,
            #{item.addressType} ,
            #{item.otherCountry} ,
            #{item.otherBirthCountry} ,
            #{item.createdBy} ,
            #{item.createdDate} ,
            #{item.updatedBy} ,
            #{item.updatedDate} 
            FROM DUAL
        </foreach>
    </insert>

    <!-- 批量修改 -->
    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            UPDATE ACCOUNT_PAR_ADDRESS SET
            ACCOUNT_ID = #{item.accountId} ,
            PAR_PERSONAL_ID = #{item.parPersonalId} ,
            COUNTRY = #{item.country} ,
            ADDRESS = #{item.address} ,
            CITY = #{item.city} ,
            ROVINCE = #{item.rovince} ,
            ZIP_CODE = #{item.zipCode} ,
            ADDRESS_TYPE = #{item.addressType} ,
            OTHER_COUNTRY = #{item.otherCountry} ,
            OTHER_BIRTH_COUNTRY = #{item.otherBirthCountry} ,
            CREATED_BY = #{item.createdBy} ,
            CREATED_DATE = #{item.createdDate} ,
            UPDATED_BY = #{item.updatedBy} ,
            UPDATED_DATE = #{item.updatedDate} 
            WHERE ID = #{item.id}
        </foreach>
    </update>

    <!-- 根据主键更新一条信息所有数据 -->
    <update id="updateByPrimaryKey" parameterType="com.fintech.gams.account.entity.AccountParAddress">
        UPDATE ACCOUNT_PAR_ADDRESS SET
            ACCOUNT_ID = #{accountId} ,
            PAR_PERSONAL_ID = #{parPersonalId} ,
            COUNTRY = #{country} ,
            ADDRESS = #{address} ,
            CITY = #{city} ,
            ROVINCE = #{rovince} ,
            ZIP_CODE = #{zipCode} ,
            ADDRESS_TYPE = #{addressType} ,
            OTHER_COUNTRY = #{otherCountry} ,
            OTHER_BIRTH_COUNTRY = #{otherBirthCountry} ,
            CREATED_BY = #{createdBy} ,
            CREATED_DATE = #{createdDate} ,
            UPDATED_BY = #{updatedBy} ,
            UPDATED_DATE = #{updatedDate} 
        WHERE ID = #{id}
    </update>

    <!-- 根据主键取数据 -->
    <select id="selectByPrimaryKey"  parameterType="java.lang.Long" resultType="com.fintech.gams.account.entity.AccountParAddress">
        SELECT <include refid="accountParAddressColumns"/> FROM ACCOUNT_PAR_ADDRESS a WHERE a.ID = #{id}
    </select>

    <!-- 可分页的对象查询 -->
    <select id="findList" resultType="com.fintech.gams.account.entity.AccountParAddress">
        SELECT
        <include refid="accountParAddressColumns"/>
        FROM ACCOUNT_PAR_ADDRESS a WHERE 1 = 1 <!-- and a.DEL_FLAG = 0-->
        <if test="accountId != null">
            AND a.ACCOUNT_ID = #{accountId}
        </if>
        <if test="parPersonalId != null">
            AND a.PAR_PERSONAL_ID = #{parPersonalId}
        </if>
        <if test="country != null">
            AND a.COUNTRY LIKE '%'||#{country}||'%'
        </if>
        <if test="address != null">
            AND a.ADDRESS LIKE '%'||#{address}||'%'
        </if>
        <if test="city != null">
            AND a.CITY LIKE '%'||#{city}||'%'
        </if>
        <if test="rovince != null">
            AND a.ROVINCE LIKE '%'||#{rovince}||'%'
        </if>
        <if test="zipCode != null">
            AND a.ZIP_CODE LIKE '%'||#{zipCode}||'%'
        </if>
        <if test="addressType != null">
            AND a.ADDRESS_TYPE LIKE '%'||#{addressType}||'%'
        </if>
        <if test="otherCountry != null">
            AND a.OTHER_COUNTRY LIKE '%'||#{otherCountry}||'%'
        </if>
        <if test="otherBirthCountry != null">
            AND a.OTHER_BIRTH_COUNTRY LIKE '%'||#{otherBirthCountry}||'%'
        </if>
        <if test="createdBy != null">
            AND a.CREATED_BY = #{createdBy}
        </if>
        <if test="createdDate != null">
            AND a.CREATED_DATE = #{createdDate}
        </if>
        <if test="updatedBy != null">
            AND a.UPDATED_BY = #{updatedBy}
        </if>
        <if test="updatedDate != null">
            AND a.UPDATED_DATE = #{updatedDate}
        </if>
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.fintech.gams.account.entity.AccountParAddress">
        SELECT
        <include refid="accountParAddressColumns"/>
        FROM ACCOUNT_PAR_ADDRESS a <!--WHERE a.DEL_FLAG = 0-->
    </select>


    <!-- 根据parPersonalId物理删除 -->
    <delete id="removeByParPersonalId" parameterType="java.lang.Long">
        DELETE FROM ACCOUNT_PAR_ADDRESS a WHERE a.PAR_PERSONAL_ID = #{parPersonalId}
    </delete>
</mapper>

