<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fintech.gams.account.mapper.AccountCoContactMapper">
    <!-- 基础列 -->
    <sql id="accountCoContactColumns">
        a.ID as id,
        a.ACCOUNT_ID as accountId,
        a.CO_PERSONAL_ID as coPersonalId,
        a.COUNTRY as country,
        a.CONTACT_NUMBER_TYPE as contactNumberType,
        a.CONTACT_NUMBER as contactNumber,
        a.FOUNDING_COUNTRY as foundingCountry,
        a.STATUS as status,
        a.EXCHANGE as exchange,
        a.CODE as code,
        a.CREATED_BY as createdBy,
        a.CREATED_DATE as createdDate,
        a.UPDATED_BY as updatedBy,
        a.UPDATED_DATE as updatedDate
    </sql>

    <resultMap id="accountCoContactResultMap" type="com.fintech.gams.account.entity.AccountCoContact">
        <id column="ID" property="id" />
        <result column="ACCOUNT_ID" property="accountId"/>
        <result column="CO_PERSONAL_ID" property="coPersonalId"/>
        <result column="COUNTRY" property="country"/>
        <result column="CONTACT_NUMBER_TYPE" property="contactNumberType"/>
        <result column="CONTACT_NUMBER" property="contactNumber"/>
        <result column="FOUNDING_COUNTRY" property="foundingCountry"/>
        <result column="STATUS" property="status"/>
        <result column="EXCHANGE" property="exchange"/>
        <result column="CODE" property="code"/>
        <result column="CREATED_BY" property="createdBy"/>
        <result column="CREATED_DATE" property="createdDate"/>
        <result column="UPDATED_BY" property="updatedBy"/>
        <result column="UPDATED_DATE" property="updatedDate"/>
    </resultMap>

    <!-- 普通插入 -->
    <insert id="insert" parameterType="com.fintech.gams.account.entity.AccountCoContact">
        INSERT INTO ACCOUNT_CO_CONTACT(
            ID ,
            ACCOUNT_ID ,
            CO_PERSONAL_ID ,
            COUNTRY ,
            CONTACT_NUMBER_TYPE ,
            CONTACT_NUMBER ,
            FOUNDING_COUNTRY ,
            STATUS ,
            EXCHANGE ,
            CODE ,
            CREATED_BY ,
            CREATED_DATE ,
            UPDATED_BY ,
            UPDATED_DATE 
        ) VALUES (
            #{id} ,
            #{accountId} ,
            #{coPersonalId} ,
            #{country} ,
            #{contactNumberType} ,
            #{contactNumber} ,
            #{foundingCountry} ,
            #{status} ,
            #{exchange} ,
            #{code} ,
            #{createdBy} ,
            #{createdDate} ,
            #{updatedBy} ,
            #{updatedDate} 
        )
    </insert>
    <!-- 根据主键物理删除 -->
    <delete id="remove" parameterType="java.lang.Long">
        DELETE FROM ACCOUNT_CO_CONTACT WHERE ID = #{id}
    </delete>

    <!-- 根据主键逻辑删除
    <update id="delete" parameterType="java.lang.Long">
        UPDATE ACCOUNT_CO_CONTACT SET DEL_FLAG = 1 WHERE ID = #{id}
    </update>
    -->

    <!--根据条件是否插入数据 -->
    <insert id="insertSelective" parameterType="com.fintech.gams.account.entity.AccountCoContact">
        INSERT INTO ACCOUNT_CO_CONTACT
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
                ID ,
        </if>
        <if test="accountId != null">
                ACCOUNT_ID ,
        </if>
        <if test="coPersonalId != null">
                CO_PERSONAL_ID ,
        </if>
        <if test="country != null">
                COUNTRY ,
        </if>
        <if test="contactNumberType != null">
                CONTACT_NUMBER_TYPE ,
        </if>
        <if test="contactNumber != null">
                CONTACT_NUMBER ,
        </if>
        <if test="foundingCountry != null">
                FOUNDING_COUNTRY ,
        </if>
        <if test="status != null">
                STATUS ,
        </if>
        <if test="exchange != null">
                EXCHANGE ,
        </if>
        <if test="code != null">
                CODE ,
        </if>
        <if test="createdBy != null">
                CREATED_BY ,
        </if>
        <if test="createdDate != null">
                CREATED_DATE ,
        </if>
        <if test="updatedBy != null">
                UPDATED_BY ,
        </if>
        <if test="updatedDate != null">
                UPDATED_DATE 
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
                #{id} ,
        </if>
        <if test="accountId != null">
                #{accountId} ,
        </if>
        <if test="coPersonalId != null">
                #{coPersonalId} ,
        </if>
        <if test="country != null">
                #{country} ,
        </if>
        <if test="contactNumberType != null">
                #{contactNumberType} ,
        </if>
        <if test="contactNumber != null">
                #{contactNumber} ,
        </if>
        <if test="foundingCountry != null">
                #{foundingCountry} ,
        </if>
        <if test="status != null">
                #{status} ,
        </if>
        <if test="exchange != null">
                #{exchange} ,
        </if>
        <if test="code != null">
                #{code} ,
        </if>
        <if test="createdBy != null">
                #{createdBy} ,
        </if>
        <if test="createdDate != null">
                #{createdDate} ,
        </if>
        <if test="updatedBy != null">
                #{updatedBy} ,
        </if>
        <if test="updatedDate != null">
                #{updatedDate} 
        </if>
        </trim>
    </insert>

    <!-- 选择性更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.fintech.gams.account.entity.AccountCoContact">
        UPDATE ACCOUNT_CO_CONTACT
           <set>
            <if test="accountId != null">
                ACCOUNT_ID = #{accountId} ,
            </if>
            <if test="coPersonalId != null">
                CO_PERSONAL_ID = #{coPersonalId} ,
            </if>
            <if test="country != null">
                COUNTRY = #{country} ,
            </if>
            <if test="contactNumberType != null">
                CONTACT_NUMBER_TYPE = #{contactNumberType} ,
            </if>
            <if test="contactNumber != null">
                CONTACT_NUMBER = #{contactNumber} ,
            </if>
            <if test="foundingCountry != null">
                FOUNDING_COUNTRY = #{foundingCountry} ,
            </if>
            <if test="status != null">
                STATUS = #{status} ,
            </if>
            <if test="exchange != null">
                EXCHANGE = #{exchange} ,
            </if>
            <if test="code != null">
                CODE = #{code} ,
            </if>
            <if test="createdBy != null">
                CREATED_BY = #{createdBy} ,
            </if>
            <if test="createdDate != null">
                CREATED_DATE = #{createdDate} ,
            </if>
            <if test="updatedBy != null">
                UPDATED_BY = #{updatedBy} ,
            </if>
            <if test="updatedDate != null">
                UPDATED_DATE = #{updatedDate} 
            </if>
           </set>
        WHERE ID = #{id}
    </update>

    <!-- 批量插入 -->
    <insert id="insertBatch" parameterType="list">
        INSERT INTO ACCOUNT_CO_CONTACT(
            ID ,
            ACCOUNT_ID ,
            CO_PERSONAL_ID ,
            COUNTRY ,
            CONTACT_NUMBER_TYPE ,
            CONTACT_NUMBER ,
            FOUNDING_COUNTRY ,
            STATUS ,
            EXCHANGE ,
            CODE ,
            CREATED_BY ,
            CREATED_DATE ,
            UPDATED_BY ,
            UPDATED_DATE 
        )
        <foreach close=")" collection="list" item="item" index="index" open="(" separator="union">
            SELECT
            #{item.id} ,
            #{item.accountId} ,
            #{item.coPersonalId} ,
            #{item.country} ,
            #{item.contactNumberType} ,
            #{item.contactNumber} ,
            #{item.foundingCountry} ,
            #{item.status} ,
            #{item.exchange} ,
            #{item.code} ,
            #{item.createdBy} ,
            #{item.createdDate} ,
            #{item.updatedBy} ,
            #{item.updatedDate} 
            FROM DUAL
        </foreach>
    </insert>

    <!-- 批量修改 -->
    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            UPDATE ACCOUNT_CO_CONTACT SET
            ACCOUNT_ID = #{item.accountId} ,
            CO_PERSONAL_ID = #{item.coPersonalId} ,
            COUNTRY = #{item.country} ,
            CONTACT_NUMBER_TYPE = #{item.contactNumberType} ,
            CONTACT_NUMBER = #{item.contactNumber} ,
            FOUNDING_COUNTRY = #{item.foundingCountry} ,
            STATUS = #{item.status} ,
            EXCHANGE = #{item.exchange} ,
            CODE = #{item.code} ,
            CREATED_BY = #{item.createdBy} ,
            CREATED_DATE = #{item.createdDate} ,
            UPDATED_BY = #{item.updatedBy} ,
            UPDATED_DATE = #{item.updatedDate} 
            WHERE ID = #{item.id}
        </foreach>
    </update>

    <!-- 根据主键更新一条信息所有数据 -->
    <update id="updateByPrimaryKey" parameterType="com.fintech.gams.account.entity.AccountCoContact">
        UPDATE ACCOUNT_CO_CONTACT SET
            ACCOUNT_ID = #{accountId} ,
            CO_PERSONAL_ID = #{coPersonalId} ,
            COUNTRY = #{country} ,
            CONTACT_NUMBER_TYPE = #{contactNumberType} ,
            CONTACT_NUMBER = #{contactNumber} ,
            FOUNDING_COUNTRY = #{foundingCountry} ,
            STATUS = #{status} ,
            EXCHANGE = #{exchange} ,
            CODE = #{code} ,
            CREATED_BY = #{createdBy} ,
            CREATED_DATE = #{createdDate} ,
            UPDATED_BY = #{updatedBy} ,
            UPDATED_DATE = #{updatedDate} 
        WHERE ID = #{id}
    </update>

    <!-- 根据主键取数据 -->
    <select id="selectByPrimaryKey"  parameterType="java.lang.Long" resultType="com.fintech.gams.account.entity.AccountCoContact">
        SELECT <include refid="accountCoContactColumns"/> FROM ACCOUNT_CO_CONTACT a WHERE a.ID = #{id}
    </select>

    <!-- 可分页的对象查询 -->
    <select id="findList" resultType="com.fintech.gams.account.entity.AccountCoContact">
        SELECT
        <include refid="accountCoContactColumns"/>
        FROM ACCOUNT_CO_CONTACT a WHERE 1 = 1 <!-- and a.DEL_FLAG = 0-->
        <if test="accountId != null">
            AND a.ACCOUNT_ID = #{accountId}
        </if>
        <if test="coPersonalId != null">
            AND a.CO_PERSONAL_ID = #{coPersonalId}
        </if>
        <if test="country != null">
            AND a.COUNTRY LIKE '%'||#{country}||'%'
        </if>
        <if test="contactNumberType != null">
            AND a.CONTACT_NUMBER_TYPE LIKE '%'||#{contactNumberType}||'%'
        </if>
        <if test="contactNumber != null">
            AND a.CONTACT_NUMBER LIKE '%'||#{contactNumber}||'%'
        </if>
        <if test="foundingCountry != null">
            AND a.FOUNDING_COUNTRY LIKE '%'||#{foundingCountry}||'%'
        </if>
        <if test="status != null">
            AND a.STATUS = #{status}
        </if>
        <if test="exchange != null">
            AND a.EXCHANGE LIKE '%'||#{exchange}||'%'
        </if>
        <if test="code != null">
            AND a.CODE LIKE '%'||#{code}||'%'
        </if>
        <if test="createdBy != null">
            AND a.CREATED_BY = #{createdBy}
        </if>
        <if test="createdDate != null">
            AND a.CREATED_DATE = #{createdDate}
        </if>
        <if test="updatedBy != null">
            AND a.UPDATED_BY = #{updatedBy}
        </if>
        <if test="updatedDate != null">
            AND a.UPDATED_DATE = #{updatedDate}
        </if>
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.fintech.gams.account.entity.AccountCoContact">
        SELECT
        <include refid="accountCoContactColumns"/>
        FROM ACCOUNT_CO_CONTACT a <!--WHERE a.DEL_FLAG = 0-->
    </select>

    <!-- 根据coPersonalId物理删除 -->
    <delete id="removeByCoPersonalId" parameterType="java.lang.Long">
        DELETE FROM ACCOUNT_CO_CONTACT WHERE CO_PERSONAL_ID = #{coPersonalId}
    </delete>
</mapper>

