<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fintech.gams.account.mapper.AccountCoTaxClassificationMapper">
    <!-- 基础列 -->
    <sql id="accountCoTaxClassificationColumns">
        a.ID as id,
        a.ACCOUNT_ID as accountId,
        a.TAX_TYPE as taxType,
        a.IS_PREFERENTIA as isPreferentia,
        a.CREATED_BY as createdBy,
        a.CREATED_DATE as createdDate,
        a.UPDATED_BY as updatedBy,
        a.UPDATED_DATE as updatedDate
    </sql>

    <resultMap id="accountCoTaxClassificationResultMap" type="com.fintech.gams.account.entity.AccountCoTaxClassification">
        <id column="ID" property="id" />
        <result column="ACCOUNT_ID" property="accountId"/>
        <result column="TAX_TYPE" property="taxType"/>
        <result column="IS_PREFERENTIA" property="isPreferentia"/>
        <result column="CREATED_BY" property="createdBy"/>
        <result column="CREATED_DATE" property="createdDate"/>
        <result column="UPDATED_BY" property="updatedBy"/>
        <result column="UPDATED_DATE" property="updatedDate"/>
    </resultMap>

    <!-- 普通插入 -->
    <insert id="insert" parameterType="com.fintech.gams.account.entity.AccountCoTaxClassification">
        INSERT INTO ACCOUNT_CO_TAX_CLASSIFICATION(
            ID ,
            ACCOUNT_ID ,
            TAX_TYPE ,
            IS_PREFERENTIA ,
            CREATED_BY ,
            CREATED_DATE ,
            UPDATED_BY ,
            UPDATED_DATE 
        ) VALUES (
            #{id} ,
            #{accountId} ,
            #{taxType} ,
            #{isPreferentia} ,
            #{createdBy} ,
            #{createdDate} ,
            #{updatedBy} ,
            #{updatedDate} 
        )
    </insert>
    <!-- 根据主键物理删除 -->
    <delete id="remove" parameterType="java.lang.Long">
        DELETE FROM ACCOUNT_CO_TAX_CLASSIFICATION WHERE ID = #{id}
    </delete>

    <!-- 根据主键逻辑删除 -->
    <update id="delete" parameterType="java.lang.Long">
        UPDATE ACCOUNT_CO_TAX_CLASSIFICATION SET DEL_FLAG = 1 WHERE ID = #{id}
    </update>

    <!--根据条件是否插入数据 -->
    <insert id="insertSelective" parameterType="com.fintech.gams.account.entity.AccountCoTaxClassification">
        INSERT INTO ACCOUNT_CO_TAX_CLASSIFICATION
        <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="id != null">
                ID ,
        </if>
        <if test="accountId != null">
                ACCOUNT_ID ,
        </if>
        <if test="taxType != null">
                TAX_TYPE ,
        </if>
        <if test="isPreferentia != null">
                IS_PREFERENTIA ,
        </if>
        <if test="createdBy != null">
                CREATED_BY ,
        </if>
        <if test="createdDate != null">
                CREATED_DATE ,
        </if>
        <if test="updatedBy != null">
                UPDATED_BY ,
        </if>
        <if test="updatedDate != null">
                UPDATED_DATE 
        </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="id != null">
                #{id} ,
        </if>
        <if test="accountId != null">
                #{accountId} ,
        </if>
        <if test="taxType != null">
                #{taxType} ,
        </if>
        <if test="isPreferentia != null">
                #{isPreferentia} ,
        </if>
        <if test="createdBy != null">
                #{createdBy} ,
        </if>
        <if test="createdDate != null">
                #{createdDate} ,
        </if>
        <if test="updatedBy != null">
                #{updatedBy} ,
        </if>
        <if test="updatedDate != null">
                #{updatedDate} 
        </if>
        </trim>
    </insert>

    <!-- 选择性更新数据 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.fintech.gams.account.entity.AccountCoTaxClassification">
        UPDATE ACCOUNT_CO_TAX_CLASSIFICATION
           <set>
            <if test="accountId != null">
                ACCOUNT_ID = #{accountId} ,
            </if>
            <if test="taxType != null">
                TAX_TYPE = #{taxType} ,
            </if>
            <if test="isPreferentia != null">
                IS_PREFERENTIA = #{isPreferentia} ,
            </if>
            <if test="createdBy != null">
                CREATED_BY = #{createdBy} ,
            </if>
            <if test="createdDate != null">
                CREATED_DATE = #{createdDate} ,
            </if>
            <if test="updatedBy != null">
                UPDATED_BY = #{updatedBy} ,
            </if>
            <if test="updatedDate != null">
                UPDATED_DATE = #{updatedDate} 
            </if>
           </set>
        WHERE ID = #{id}
    </update>

    <!-- 批量插入 -->
    <insert id="insertBatch" parameterType="list">
        INSERT INTO ACCOUNT_CO_TAX_CLASSIFICATION(
            ID ,
            ACCOUNT_ID ,
            TAX_TYPE ,
            IS_PREFERENTIA ,
            CREATED_BY ,
            CREATED_DATE ,
            UPDATED_BY ,
            UPDATED_DATE 
        )
        <foreach close=")" collection="list" item="item" index="index" open="(" separator="union">
            SELECT
            #{item.id} ,
            #{item.accountId} ,
            #{item.taxType} ,
            #{item.isPreferentia} ,
            #{item.createdBy} ,
            #{item.createdDate} ,
            #{item.updatedBy} ,
            #{item.updatedDate} 
            FROM DUAL
        </foreach>
    </insert>

    <!-- 批量修改 -->
    <update id="updateBatch" parameterType="java.util.List">
        <foreach collection="list" item="item" index="index" open="begin" close=";end;" separator=";">
            UPDATE ACCOUNT_CO_TAX_CLASSIFICATION SET
            ACCOUNT_ID = #{item.accountId} ,
            TAX_TYPE = #{item.taxType} ,
            IS_PREFERENTIA = #{item.isPreferentia} ,
            CREATED_BY = #{item.createdBy} ,
            CREATED_DATE = #{item.createdDate} ,
            UPDATED_BY = #{item.updatedBy} ,
            UPDATED_DATE = #{item.updatedDate} 
            WHERE ID = #{item.id}
        </foreach>
    </update>

    <!-- 根据主键更新一条信息所有数据 -->
    <update id="updateByPrimaryKey" parameterType="com.fintech.gams.account.entity.AccountCoTaxClassification">
        UPDATE ACCOUNT_CO_TAX_CLASSIFICATION SET
            ACCOUNT_ID = #{accountId} ,
            TAX_TYPE = #{taxType} ,
            IS_PREFERENTIA = #{isPreferentia} ,
            CREATED_BY = #{createdBy} ,
            CREATED_DATE = #{createdDate} ,
            UPDATED_BY = #{updatedBy} ,
            UPDATED_DATE = #{updatedDate} 
        WHERE ID = #{id}
    </update>

    <!-- 根据主键取数据 -->
    <select id="selectByPrimaryKey"  parameterType="java.lang.Long" resultType="com.fintech.gams.account.entity.AccountCoTaxClassification">
        SELECT <include refid="accountCoTaxClassificationColumns"/> FROM ACCOUNT_CO_TAX_CLASSIFICATION a WHERE a.ID = #{id}
    </select>

    <!-- 可分页的对象查询 -->
    <select id="findList" resultType="com.fintech.gams.account.entity.AccountCoTaxClassification">
        SELECT
        <include refid="accountCoTaxClassificationColumns"/>
        FROM ACCOUNT_CO_TAX_CLASSIFICATION a WHERE  1 = 1 <!-- and a.DEL_FLAG = 0-->
        <if test="accountId != null">
            AND a.ACCOUNT_ID = #{accountId}
        </if>
        <if test="taxType != null">
            AND a.TAX_TYPE LIKE '%'||#{taxType}||'%'
        </if>
        <if test="isPreferentia != null">
            AND a.IS_PREFERENTIA = #{isPreferentia}
        </if>
        <if test="createdBy != null">
            AND a.CREATED_BY = #{createdBy}
        </if>
        <if test="createdDate != null">
            AND a.CREATED_DATE = #{createdDate}
        </if>
        <if test="updatedBy != null">
            AND a.UPDATED_BY = #{updatedBy}
        </if>
        <if test="updatedDate != null">
            AND a.UPDATED_DATE = #{updatedDate}
        </if>
    </select>

    <!-- 查询所有 -->
    <select id="selectAll" resultType="com.fintech.gams.account.entity.AccountCoTaxClassification">
        SELECT
        <include refid="accountCoTaxClassificationColumns"/>
        FROM ACCOUNT_CO_TAX_CLASSIFICATION a WHERE a.DEL_FLAG = 0
    </select>

    <!-- 根据主键取数据 -->
    <select id="findByAccountId"  parameterType="java.lang.Long" resultType="com.fintech.gams.account.entity.AccountCoTaxClassification">
        SELECT <include refid="accountCoTaxClassificationColumns"/> FROM ACCOUNT_CO_TAX_CLASSIFICATION a WHERE a.ACCOUNT_ID = #{accountId}
    </select>

</mapper>

